/*background*/
.bg-no, .bg-none {background: none;}

/*transparent white & dark bg*/
.bg-black10 {
    background: rgba(0, 0, 0, 0.1);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white10 {
    background: rgba(255, 255, 255, 0.1);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black20 {
    background: rgba(0, 0, 0, 0.2);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white20 {
    background: rgba(255, 255, 255, 0.2);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black30 {
    background: rgba(0, 0, 0, 0.3);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white30 {
    background: rgba(255, 255, 255, 0.3);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black40 {
    background: rgba(0, 0, 0, 0.4);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white40 {
    background: rgba(255, 255, 255, 0.4);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black50 {
    background: rgba(0, 0, 0, 0.5);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white50 {
    background: rgba(255, 255, 255, 0.5);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black60 {
    background: rgba(0, 0, 0, 0.6);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white60 {
    background: rgba(255, 255, 255, 0.6);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black70 {
    background: rgba(0, 0, 0, 0.7);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white70 {
    background: rgba(255, 255, 255, 0.7);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black80 {
    background: rgba(0, 0, 0, 0.8);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white80 {
    background: rgba(255, 255, 255, 0.8);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black90 {
    background: rgba(0, 0, 0, 0.9);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white90 {
    background: rgba(255, 255, 255, 0.9);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}

/*opacity*/
.opa-0 {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
}
.opa-5 {
    filter: alpha(opacity=5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    -moz-opacity: 0.05;
    -webkit-opacity: 0.05;
    opacity: 0.05;
}
.opa-10 {
    filter: alpha(opacity=10);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    -moz-opacity: 0.1;
    -webkit-opacity: 0.1;
    opacity: 0.1;
}
.opa-15 {
    filter: alpha(opacity=15);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    -moz-opacity: 0.15;
    -webkit-opacity: 0.15;
    opacity: 0.15;
}
.opa-20 {
    filter: alpha(opacity=20);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    -moz-opacity: 0.2;
    -webkit-opacity: 0.2;
    opacity: 0.2;
}
.opa-25 {
    filter: alpha(opacity=25);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    -moz-opacity: 0.25;
    -webkit-opacity: 0.25;
    opacity: 0.25;
}
.opa-30 {
    filter: alpha(opacity=30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -moz-opacity: 0.3;
    -webkit-opacity: 0.3;
    opacity: 0.3;
}
.opa-35 {
    filter: alpha(opacity=35);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    -moz-opacity: 0.35;
    -webkit-opacity: 0.35;
    opacity: 0.35;
}
.opa-40 {
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -moz-opacity: 0.4;
    -webkit-opacity: 0.4;
    opacity: 0.4;
}
.opa-45 {
    filter: alpha(opacity=45);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    -moz-opacity: 0.45;
    -webkit-opacity: 0.45;
    opacity: 0.45;
}
.opa-50 {
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
}
.opa-55 {
    filter: alpha(opacity=55);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
    -moz-opacity: 0.55;
    -webkit-opacity: 0.55;
    opacity: 0.55;
}
.opa-60 {
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    opacity: 0.6;
}
.opa-65 {
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    -moz-opacity: 0.65;
    -webkit-opacity: 0.65;
    opacity: 0.65;
}
.opa-70 {
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -moz-opacity: 0.7;
    -webkit-opacity: 0.7;
    opacity: 0.7;
}
.opa-75 {
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    -moz-opacity: 0.75;
    -webkit-opacity: 0.75;
    opacity: 0.75;
}
.opa-80 {
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    opacity: 0.8;
}
.opa-85 {
    filter: alpha(opacity=85);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    -moz-opacity: 0.85;
    -webkit-opacity: 0.85;
    opacity: 0.85;
}
.opa-90 {
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
    opacity: 0.9;
}
.opa-95 {
    filter: alpha(opacity=95);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    -moz-opacity: 0.95;
    -webkit-opacity: 0.95;
    opacity: 0.95;
}

/*filter*/
.filter1px{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);    
    filter: blur(1px);
}
.filter2px{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);    
    filter: blur(2px);
}
.filter3px{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);    
    filter: blur(3px);
}
.filter4px{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);    
    filter: blur(4px);
}
.filter5px{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);    
    filter: blur(5px);
}