.px-auto{ padding-left: auto; padding-right: auto; }

 
.p0{ padding: 0px; }
.pt0{ padding-top: 0px; }
.pb0{ padding-bottom: 0px; }
.pl0{ padding-left: 0px; }
.pr0{ padding-right: 0px; }
.px0{ padding-left: 0px; padding-right: 0px; }
.py0{ padding-top: 0px; padding-bottom: 0px; }
.p1px{ padding: 1px; }
.pt1px{ padding-top: 1px; }
.pb1px{ padding-bottom: 1px; }
.pl1px{ padding-left: 1px; }
.pr1px{ padding-right: 1px; }
.px1px{ padding-left: 1px; padding-right: 1px; }
.py1px{ padding-top: 1px; padding-bottom: 1px; }
.p2px{ padding: 2px; }
.pt2px{ padding-top: 2px; }
.pb2px{ padding-bottom: 2px; }
.pl2px{ padding-left: 2px; }
.pr2px{ padding-right: 2px; }
.px2px{ padding-left: 2px; padding-right: 2px; }
.py2px{ padding-top: 2px; padding-bottom: 2px; }
.p3px{ padding: 3px; }
.pt3px{ padding-top: 3px; }
.pb3px{ padding-bottom: 3px; }
.pl3px{ padding-left: 3px; }
.pr3px{ padding-right: 3px; }
.px3px{ padding-left: 3px; padding-right: 3px; }
.py3px{ padding-top: 3px; padding-bottom: 3px; }
.p4px{ padding: 4px; }
.pt4px{ padding-top: 4px; }
.pb4px{ padding-bottom: 4px; }
.pl4px{ padding-left: 4px; }
.pr4px{ padding-right: 4px; }
.px4px{ padding-left: 4px; padding-right: 4px; }
.py4px{ padding-top: 4px; padding-bottom: 4px; }
.p5px{ padding: 5px; }
.pt5px{ padding-top: 5px; }
.pb5px{ padding-bottom: 5px; }
.pl5px{ padding-left: 5px; }
.pr5px{ padding-right: 5px; }
.px5px{ padding-left: 5px; padding-right: 5px; }
.py5px{ padding-top: 5px; padding-bottom: 5px; }
.p6px{ padding: 6px; }
.pt6px{ padding-top: 6px; }
.pb6px{ padding-bottom: 6px; }
.pl6px{ padding-left: 6px; }
.pr6px{ padding-right: 6px; }
.px6px{ padding-left: 6px; padding-right: 6px; }
.py6px{ padding-top: 6px; padding-bottom: 6px; }
.p7px{ padding: 7px; }
.pt7px{ padding-top: 7px; }
.pb7px{ padding-bottom: 7px; }
.pl7px{ padding-left: 7px; }
.pr7px{ padding-right: 7px; }
.px7px{ padding-left: 7px; padding-right: 7px; }
.py7px{ padding-top: 7px; padding-bottom: 7px; }
.p8px{ padding: 8px; }
.pt8px{ padding-top: 8px; }
.pb8px{ padding-bottom: 8px; }
.pl8px{ padding-left: 8px; }
.pr8px{ padding-right: 8px; }
.px8px{ padding-left: 8px; padding-right: 8px; }
.py8px{ padding-top: 8px; padding-bottom: 8px; }
.p9px{ padding: 9px; }
.pt9px{ padding-top: 9px; }
.pb9px{ padding-bottom: 9px; }
.pl9px{ padding-left: 9px; }
.pr9px{ padding-right: 9px; }
.px9px{ padding-left: 9px; padding-right: 9px; }
.py9px{ padding-top: 9px; padding-bottom: 9px; }
.p10px{ padding: 10px; }
.pt10px{ padding-top: 10px; }
.pb10px{ padding-bottom: 10px; }
.pl10px{ padding-left: 10px; }
.pr10px{ padding-right: 10px; }
.px10px{ padding-left: 10px; padding-right: 10px; }
.py10px{ padding-top: 10px; padding-bottom: 10px; }
.p11px{ padding: 11px; }
.pt11px{ padding-top: 11px; }
.pb11px{ padding-bottom: 11px; }
.pl11px{ padding-left: 11px; }
.pr11px{ padding-right: 11px; }
.px11px{ padding-left: 11px; padding-right: 11px; }
.py11px{ padding-top: 11px; padding-bottom: 11px; }
.p12px{ padding: 12px; }
.pt12px{ padding-top: 12px; }
.pb12px{ padding-bottom: 12px; }
.pl12px{ padding-left: 12px; }
.pr12px{ padding-right: 12px; }
.px12px{ padding-left: 12px; padding-right: 12px; }
.py12px{ padding-top: 12px; padding-bottom: 12px; }
.p13px{ padding: 13px; }
.pt13px{ padding-top: 13px; }
.pb13px{ padding-bottom: 13px; }
.pl13px{ padding-left: 13px; }
.pr13px{ padding-right: 13px; }
.px13px{ padding-left: 13px; padding-right: 13px; }
.py13px{ padding-top: 13px; padding-bottom: 13px; }
.p14px{ padding: 14px; }
.pt14px{ padding-top: 14px; }
.pb14px{ padding-bottom: 14px; }
.pl14px{ padding-left: 14px; }
.pr14px{ padding-right: 14px; }
.px14px{ padding-left: 14px; padding-right: 14px; }
.py14px{ padding-top: 14px; padding-bottom: 14px; }
.p15px{ padding: 15px; }
.pt15px{ padding-top: 15px; }
.pb15px{ padding-bottom: 15px; }
.pl15px{ padding-left: 15px; }
.pr15px{ padding-right: 15px; }
.px15px{ padding-left: 15px; padding-right: 15px; }
.py15px{ padding-top: 15px; padding-bottom: 15px; }
.p16px{ padding: 16px; }
.pt16px{ padding-top: 16px; }
.pb16px{ padding-bottom: 16px; }
.pl16px{ padding-left: 16px; }
.pr16px{ padding-right: 16px; }
.px16px{ padding-left: 16px; padding-right: 16px; }
.py16px{ padding-top: 16px; padding-bottom: 16px; }
.p17px{ padding: 17px; }
.pt17px{ padding-top: 17px; }
.pb17px{ padding-bottom: 17px; }
.pl17px{ padding-left: 17px; }
.pr17px{ padding-right: 17px; }
.px17px{ padding-left: 17px; padding-right: 17px; }
.py17px{ padding-top: 17px; padding-bottom: 17px; }
.p18px{ padding: 18px; }
.pt18px{ padding-top: 18px; }
.pb18px{ padding-bottom: 18px; }
.pl18px{ padding-left: 18px; }
.pr18px{ padding-right: 18px; }
.px18px{ padding-left: 18px; padding-right: 18px; }
.py18px{ padding-top: 18px; padding-bottom: 18px; }
.p19px{ padding: 19px; }
.pt19px{ padding-top: 19px; }
.pb19px{ padding-bottom: 19px; }
.pl19px{ padding-left: 19px; }
.pr19px{ padding-right: 19px; }
.px19px{ padding-left: 19px; padding-right: 19px; }
.py19px{ padding-top: 19px; padding-bottom: 19px; }
.p20px{ padding: 20px; }
.pt20px{ padding-top: 20px; }
.pb20px{ padding-bottom: 20px; }
.pl20px{ padding-left: 20px; }
.pr20px{ padding-right: 20px; }
.px20px{ padding-left: 20px; padding-right: 20px; }
.py20px{ padding-top: 20px; padding-bottom: 20px; }
.p1em{ padding: 1em; }
.pt1em{ padding-top: 1em; }
.pb1em{ padding-bottom: 1em; }
.pl1em{ padding-left: 1em; }
.pr1em{ padding-right: 1em; }
.px1em{ padding-left: 1em; padding-right: 1em; }
.py1em{ padding-top: 1em; padding-bottom: 1em; }
.p2em{ padding: 2em; }
.pt2em{ padding-top: 2em; }
.pb2em{ padding-bottom: 2em; }
.pl2em{ padding-left: 2em; }
.pr2em{ padding-right: 2em; }
.px2em{ padding-left: 2em; padding-right: 2em; }
.py2em{ padding-top: 2em; padding-bottom: 2em; }
.p3em{ padding: 3em; }
.pt3em{ padding-top: 3em; }
.pb3em{ padding-bottom: 3em; }
.pl3em{ padding-left: 3em; }
.pr3em{ padding-right: 3em; }
.px3em{ padding-left: 3em; padding-right: 3em; }
.py3em{ padding-top: 3em; padding-bottom: 3em; }
.p4em{ padding: 4em; }
.pt4em{ padding-top: 4em; }
.pb4em{ padding-bottom: 4em; }
.pl4em{ padding-left: 4em; }
.pr4em{ padding-right: 4em; }
.px4em{ padding-left: 4em; padding-right: 4em; }
.py4em{ padding-top: 4em; padding-bottom: 4em; }
.p5em{ padding: 5em; }
.pt5em{ padding-top: 5em; }
.pb5em{ padding-bottom: 5em; }
.pl5em{ padding-left: 5em; }
.pr5em{ padding-right: 5em; }
.px5em{ padding-left: 5em; padding-right: 5em; }
.py5em{ padding-top: 5em; padding-bottom: 5em; }
.p6em{ padding: 6em; }
.pt6em{ padding-top: 6em; }
.pb6em{ padding-bottom: 6em; }
.pl6em{ padding-left: 6em; }
.pr6em{ padding-right: 6em; }
.px6em{ padding-left: 6em; padding-right: 6em; }
.py6em{ padding-top: 6em; padding-bottom: 6em; }
.p7em{ padding: 7em; }
.pt7em{ padding-top: 7em; }
.pb7em{ padding-bottom: 7em; }
.pl7em{ padding-left: 7em; }
.pr7em{ padding-right: 7em; }
.px7em{ padding-left: 7em; padding-right: 7em; }
.py7em{ padding-top: 7em; padding-bottom: 7em; }
.p8em{ padding: 8em; }
.pt8em{ padding-top: 8em; }
.pb8em{ padding-bottom: 8em; }
.pl8em{ padding-left: 8em; }
.pr8em{ padding-right: 8em; }
.px8em{ padding-left: 8em; padding-right: 8em; }
.py8em{ padding-top: 8em; padding-bottom: 8em; }
.p9em{ padding: 9em; }
.pt9em{ padding-top: 9em; }
.pb9em{ padding-bottom: 9em; }
.pl9em{ padding-left: 9em; }
.pr9em{ padding-right: 9em; }
.px9em{ padding-left: 9em; padding-right: 9em; }
.py9em{ padding-top: 9em; padding-bottom: 9em; }
.p10em{ padding: 10em; }
.pt10em{ padding-top: 10em; }
.pb10em{ padding-bottom: 10em; }
.pl10em{ padding-left: 10em; }
.pr10em{ padding-right: 10em; }
.px10em{ padding-left: 10em; padding-right: 10em; }
.py10em{ padding-top: 10em; padding-bottom: 10em; }
.p11em{ padding: 11em; }
.pt11em{ padding-top: 11em; }
.pb11em{ padding-bottom: 11em; }
.pl11em{ padding-left: 11em; }
.pr11em{ padding-right: 11em; }
.px11em{ padding-left: 11em; padding-right: 11em; }
.py11em{ padding-top: 11em; padding-bottom: 11em; }
.p12em{ padding: 12em; }
.pt12em{ padding-top: 12em; }
.pb12em{ padding-bottom: 12em; }
.pl12em{ padding-left: 12em; }
.pr12em{ padding-right: 12em; }
.px12em{ padding-left: 12em; padding-right: 12em; }
.py12em{ padding-top: 12em; padding-bottom: 12em; }
.p13em{ padding: 13em; }
.pt13em{ padding-top: 13em; }
.pb13em{ padding-bottom: 13em; }
.pl13em{ padding-left: 13em; }
.pr13em{ padding-right: 13em; }
.px13em{ padding-left: 13em; padding-right: 13em; }
.py13em{ padding-top: 13em; padding-bottom: 13em; }
.p14em{ padding: 14em; }
.pt14em{ padding-top: 14em; }
.pb14em{ padding-bottom: 14em; }
.pl14em{ padding-left: 14em; }
.pr14em{ padding-right: 14em; }
.px14em{ padding-left: 14em; padding-right: 14em; }
.py14em{ padding-top: 14em; padding-bottom: 14em; }
.p15em{ padding: 15em; }
.pt15em{ padding-top: 15em; }
.pb15em{ padding-bottom: 15em; }
.pl15em{ padding-left: 15em; }
.pr15em{ padding-right: 15em; }
.px15em{ padding-left: 15em; padding-right: 15em; }
.py15em{ padding-top: 15em; padding-bottom: 15em; }
.p16em{ padding: 16em; }
.pt16em{ padding-top: 16em; }
.pb16em{ padding-bottom: 16em; }
.pl16em{ padding-left: 16em; }
.pr16em{ padding-right: 16em; }
.px16em{ padding-left: 16em; padding-right: 16em; }
.py16em{ padding-top: 16em; padding-bottom: 16em; }
.p17em{ padding: 17em; }
.pt17em{ padding-top: 17em; }
.pb17em{ padding-bottom: 17em; }
.pl17em{ padding-left: 17em; }
.pr17em{ padding-right: 17em; }
.px17em{ padding-left: 17em; padding-right: 17em; }
.py17em{ padding-top: 17em; padding-bottom: 17em; }
.p18em{ padding: 18em; }
.pt18em{ padding-top: 18em; }
.pb18em{ padding-bottom: 18em; }
.pl18em{ padding-left: 18em; }
.pr18em{ padding-right: 18em; }
.px18em{ padding-left: 18em; padding-right: 18em; }
.py18em{ padding-top: 18em; padding-bottom: 18em; }
.p19em{ padding: 19em; }
.pt19em{ padding-top: 19em; }
.pb19em{ padding-bottom: 19em; }
.pl19em{ padding-left: 19em; }
.pr19em{ padding-right: 19em; }
.px19em{ padding-left: 19em; padding-right: 19em; }
.py19em{ padding-top: 19em; padding-bottom: 19em; }
.p20em{ padding: 20em; }
.pt20em{ padding-top: 20em; }
.pb20em{ padding-bottom: 20em; }
.pl20em{ padding-left: 20em; }
.pr20em{ padding-right: 20em; }
.px20em{ padding-left: 20em; padding-right: 20em; }
.py20em{ padding-top: 20em; padding-bottom: 20em; }

@media (min-width: 768px) {
 
.p0-sm{ padding: 0px; }
.pt0-sm{ padding-top: 0px; }
.pb0-sm{ padding-bottom: 0px; }
.pl0-sm{ padding-left: 0px; }
.pr0-sm{ padding-right: 0px; }
.px0-sm{ padding-left: 0px; padding-right: 0px; }
.py0-sm{ padding-top: 0px; padding-bottom: 0px; }
.p1px-sm{ padding: 1px; }
.pt1px-sm{ padding-top: 1px; }
.pb1px-sm{ padding-bottom: 1px; }
.pl1px-sm{ padding-left: 1px; }
.pr1px-sm{ padding-right: 1px; }
.px1px-sm{ padding-left: 1px; padding-right: 1px; }
.py1px-sm{ padding-top: 1px; padding-bottom: 1px; }
.p2px-sm{ padding: 2px; }
.pt2px-sm{ padding-top: 2px; }
.pb2px-sm{ padding-bottom: 2px; }
.pl2px-sm{ padding-left: 2px; }
.pr2px-sm{ padding-right: 2px; }
.px2px-sm{ padding-left: 2px; padding-right: 2px; }
.py2px-sm{ padding-top: 2px; padding-bottom: 2px; }
.p3px-sm{ padding: 3px; }
.pt3px-sm{ padding-top: 3px; }
.pb3px-sm{ padding-bottom: 3px; }
.pl3px-sm{ padding-left: 3px; }
.pr3px-sm{ padding-right: 3px; }
.px3px-sm{ padding-left: 3px; padding-right: 3px; }
.py3px-sm{ padding-top: 3px; padding-bottom: 3px; }
.p4px-sm{ padding: 4px; }
.pt4px-sm{ padding-top: 4px; }
.pb4px-sm{ padding-bottom: 4px; }
.pl4px-sm{ padding-left: 4px; }
.pr4px-sm{ padding-right: 4px; }
.px4px-sm{ padding-left: 4px; padding-right: 4px; }
.py4px-sm{ padding-top: 4px; padding-bottom: 4px; }
.p5px-sm{ padding: 5px; }
.pt5px-sm{ padding-top: 5px; }
.pb5px-sm{ padding-bottom: 5px; }
.pl5px-sm{ padding-left: 5px; }
.pr5px-sm{ padding-right: 5px; }
.px5px-sm{ padding-left: 5px; padding-right: 5px; }
.py5px-sm{ padding-top: 5px; padding-bottom: 5px; }
.p6px-sm{ padding: 6px; }
.pt6px-sm{ padding-top: 6px; }
.pb6px-sm{ padding-bottom: 6px; }
.pl6px-sm{ padding-left: 6px; }
.pr6px-sm{ padding-right: 6px; }
.px6px-sm{ padding-left: 6px; padding-right: 6px; }
.py6px-sm{ padding-top: 6px; padding-bottom: 6px; }
.p7px-sm{ padding: 7px; }
.pt7px-sm{ padding-top: 7px; }
.pb7px-sm{ padding-bottom: 7px; }
.pl7px-sm{ padding-left: 7px; }
.pr7px-sm{ padding-right: 7px; }
.px7px-sm{ padding-left: 7px; padding-right: 7px; }
.py7px-sm{ padding-top: 7px; padding-bottom: 7px; }
.p8px-sm{ padding: 8px; }
.pt8px-sm{ padding-top: 8px; }
.pb8px-sm{ padding-bottom: 8px; }
.pl8px-sm{ padding-left: 8px; }
.pr8px-sm{ padding-right: 8px; }
.px8px-sm{ padding-left: 8px; padding-right: 8px; }
.py8px-sm{ padding-top: 8px; padding-bottom: 8px; }
.p9px-sm{ padding: 9px; }
.pt9px-sm{ padding-top: 9px; }
.pb9px-sm{ padding-bottom: 9px; }
.pl9px-sm{ padding-left: 9px; }
.pr9px-sm{ padding-right: 9px; }
.px9px-sm{ padding-left: 9px; padding-right: 9px; }
.py9px-sm{ padding-top: 9px; padding-bottom: 9px; }
.p10px-sm{ padding: 10px; }
.pt10px-sm{ padding-top: 10px; }
.pb10px-sm{ padding-bottom: 10px; }
.pl10px-sm{ padding-left: 10px; }
.pr10px-sm{ padding-right: 10px; }
.px10px-sm{ padding-left: 10px; padding-right: 10px; }
.py10px-sm{ padding-top: 10px; padding-bottom: 10px; }
.p11px-sm{ padding: 11px; }
.pt11px-sm{ padding-top: 11px; }
.pb11px-sm{ padding-bottom: 11px; }
.pl11px-sm{ padding-left: 11px; }
.pr11px-sm{ padding-right: 11px; }
.px11px-sm{ padding-left: 11px; padding-right: 11px; }
.py11px-sm{ padding-top: 11px; padding-bottom: 11px; }
.p12px-sm{ padding: 12px; }
.pt12px-sm{ padding-top: 12px; }
.pb12px-sm{ padding-bottom: 12px; }
.pl12px-sm{ padding-left: 12px; }
.pr12px-sm{ padding-right: 12px; }
.px12px-sm{ padding-left: 12px; padding-right: 12px; }
.py12px-sm{ padding-top: 12px; padding-bottom: 12px; }
.p13px-sm{ padding: 13px; }
.pt13px-sm{ padding-top: 13px; }
.pb13px-sm{ padding-bottom: 13px; }
.pl13px-sm{ padding-left: 13px; }
.pr13px-sm{ padding-right: 13px; }
.px13px-sm{ padding-left: 13px; padding-right: 13px; }
.py13px-sm{ padding-top: 13px; padding-bottom: 13px; }
.p14px-sm{ padding: 14px; }
.pt14px-sm{ padding-top: 14px; }
.pb14px-sm{ padding-bottom: 14px; }
.pl14px-sm{ padding-left: 14px; }
.pr14px-sm{ padding-right: 14px; }
.px14px-sm{ padding-left: 14px; padding-right: 14px; }
.py14px-sm{ padding-top: 14px; padding-bottom: 14px; }
.p15px-sm{ padding: 15px; }
.pt15px-sm{ padding-top: 15px; }
.pb15px-sm{ padding-bottom: 15px; }
.pl15px-sm{ padding-left: 15px; }
.pr15px-sm{ padding-right: 15px; }
.px15px-sm{ padding-left: 15px; padding-right: 15px; }
.py15px-sm{ padding-top: 15px; padding-bottom: 15px; }
.p16px-sm{ padding: 16px; }
.pt16px-sm{ padding-top: 16px; }
.pb16px-sm{ padding-bottom: 16px; }
.pl16px-sm{ padding-left: 16px; }
.pr16px-sm{ padding-right: 16px; }
.px16px-sm{ padding-left: 16px; padding-right: 16px; }
.py16px-sm{ padding-top: 16px; padding-bottom: 16px; }
.p17px-sm{ padding: 17px; }
.pt17px-sm{ padding-top: 17px; }
.pb17px-sm{ padding-bottom: 17px; }
.pl17px-sm{ padding-left: 17px; }
.pr17px-sm{ padding-right: 17px; }
.px17px-sm{ padding-left: 17px; padding-right: 17px; }
.py17px-sm{ padding-top: 17px; padding-bottom: 17px; }
.p18px-sm{ padding: 18px; }
.pt18px-sm{ padding-top: 18px; }
.pb18px-sm{ padding-bottom: 18px; }
.pl18px-sm{ padding-left: 18px; }
.pr18px-sm{ padding-right: 18px; }
.px18px-sm{ padding-left: 18px; padding-right: 18px; }
.py18px-sm{ padding-top: 18px; padding-bottom: 18px; }
.p19px-sm{ padding: 19px; }
.pt19px-sm{ padding-top: 19px; }
.pb19px-sm{ padding-bottom: 19px; }
.pl19px-sm{ padding-left: 19px; }
.pr19px-sm{ padding-right: 19px; }
.px19px-sm{ padding-left: 19px; padding-right: 19px; }
.py19px-sm{ padding-top: 19px; padding-bottom: 19px; }
.p20px-sm{ padding: 20px; }
.pt20px-sm{ padding-top: 20px; }
.pb20px-sm{ padding-bottom: 20px; }
.pl20px-sm{ padding-left: 20px; }
.pr20px-sm{ padding-right: 20px; }
.px20px-sm{ padding-left: 20px; padding-right: 20px; }
.py20px-sm{ padding-top: 20px; padding-bottom: 20px; }
.p1em-sm{ padding: 1em; }
.pt1em-sm{ padding-top: 1em; }
.pb1em-sm{ padding-bottom: 1em; }
.pl1em-sm{ padding-left: 1em; }
.pr1em-sm{ padding-right: 1em; }
.px1em-sm{ padding-left: 1em; padding-right: 1em; }
.py1em-sm{ padding-top: 1em; padding-bottom: 1em; }
.p2em-sm{ padding: 2em; }
.pt2em-sm{ padding-top: 2em; }
.pb2em-sm{ padding-bottom: 2em; }
.pl2em-sm{ padding-left: 2em; }
.pr2em-sm{ padding-right: 2em; }
.px2em-sm{ padding-left: 2em; padding-right: 2em; }
.py2em-sm{ padding-top: 2em; padding-bottom: 2em; }
.p3em-sm{ padding: 3em; }
.pt3em-sm{ padding-top: 3em; }
.pb3em-sm{ padding-bottom: 3em; }
.pl3em-sm{ padding-left: 3em; }
.pr3em-sm{ padding-right: 3em; }
.px3em-sm{ padding-left: 3em; padding-right: 3em; }
.py3em-sm{ padding-top: 3em; padding-bottom: 3em; }
.p4em-sm{ padding: 4em; }
.pt4em-sm{ padding-top: 4em; }
.pb4em-sm{ padding-bottom: 4em; }
.pl4em-sm{ padding-left: 4em; }
.pr4em-sm{ padding-right: 4em; }
.px4em-sm{ padding-left: 4em; padding-right: 4em; }
.py4em-sm{ padding-top: 4em; padding-bottom: 4em; }
.p5em-sm{ padding: 5em; }
.pt5em-sm{ padding-top: 5em; }
.pb5em-sm{ padding-bottom: 5em; }
.pl5em-sm{ padding-left: 5em; }
.pr5em-sm{ padding-right: 5em; }
.px5em-sm{ padding-left: 5em; padding-right: 5em; }
.py5em-sm{ padding-top: 5em; padding-bottom: 5em; }
.p6em-sm{ padding: 6em; }
.pt6em-sm{ padding-top: 6em; }
.pb6em-sm{ padding-bottom: 6em; }
.pl6em-sm{ padding-left: 6em; }
.pr6em-sm{ padding-right: 6em; }
.px6em-sm{ padding-left: 6em; padding-right: 6em; }
.py6em-sm{ padding-top: 6em; padding-bottom: 6em; }
.p7em-sm{ padding: 7em; }
.pt7em-sm{ padding-top: 7em; }
.pb7em-sm{ padding-bottom: 7em; }
.pl7em-sm{ padding-left: 7em; }
.pr7em-sm{ padding-right: 7em; }
.px7em-sm{ padding-left: 7em; padding-right: 7em; }
.py7em-sm{ padding-top: 7em; padding-bottom: 7em; }
.p8em-sm{ padding: 8em; }
.pt8em-sm{ padding-top: 8em; }
.pb8em-sm{ padding-bottom: 8em; }
.pl8em-sm{ padding-left: 8em; }
.pr8em-sm{ padding-right: 8em; }
.px8em-sm{ padding-left: 8em; padding-right: 8em; }
.py8em-sm{ padding-top: 8em; padding-bottom: 8em; }
.p9em-sm{ padding: 9em; }
.pt9em-sm{ padding-top: 9em; }
.pb9em-sm{ padding-bottom: 9em; }
.pl9em-sm{ padding-left: 9em; }
.pr9em-sm{ padding-right: 9em; }
.px9em-sm{ padding-left: 9em; padding-right: 9em; }
.py9em-sm{ padding-top: 9em; padding-bottom: 9em; }
.p10em-sm{ padding: 10em; }
.pt10em-sm{ padding-top: 10em; }
.pb10em-sm{ padding-bottom: 10em; }
.pl10em-sm{ padding-left: 10em; }
.pr10em-sm{ padding-right: 10em; }
.px10em-sm{ padding-left: 10em; padding-right: 10em; }
.py10em-sm{ padding-top: 10em; padding-bottom: 10em; }
.p11em-sm{ padding: 11em; }
.pt11em-sm{ padding-top: 11em; }
.pb11em-sm{ padding-bottom: 11em; }
.pl11em-sm{ padding-left: 11em; }
.pr11em-sm{ padding-right: 11em; }
.px11em-sm{ padding-left: 11em; padding-right: 11em; }
.py11em-sm{ padding-top: 11em; padding-bottom: 11em; }
.p12em-sm{ padding: 12em; }
.pt12em-sm{ padding-top: 12em; }
.pb12em-sm{ padding-bottom: 12em; }
.pl12em-sm{ padding-left: 12em; }
.pr12em-sm{ padding-right: 12em; }
.px12em-sm{ padding-left: 12em; padding-right: 12em; }
.py12em-sm{ padding-top: 12em; padding-bottom: 12em; }
.p13em-sm{ padding: 13em; }
.pt13em-sm{ padding-top: 13em; }
.pb13em-sm{ padding-bottom: 13em; }
.pl13em-sm{ padding-left: 13em; }
.pr13em-sm{ padding-right: 13em; }
.px13em-sm{ padding-left: 13em; padding-right: 13em; }
.py13em-sm{ padding-top: 13em; padding-bottom: 13em; }
.p14em-sm{ padding: 14em; }
.pt14em-sm{ padding-top: 14em; }
.pb14em-sm{ padding-bottom: 14em; }
.pl14em-sm{ padding-left: 14em; }
.pr14em-sm{ padding-right: 14em; }
.px14em-sm{ padding-left: 14em; padding-right: 14em; }
.py14em-sm{ padding-top: 14em; padding-bottom: 14em; }
.p15em-sm{ padding: 15em; }
.pt15em-sm{ padding-top: 15em; }
.pb15em-sm{ padding-bottom: 15em; }
.pl15em-sm{ padding-left: 15em; }
.pr15em-sm{ padding-right: 15em; }
.px15em-sm{ padding-left: 15em; padding-right: 15em; }
.py15em-sm{ padding-top: 15em; padding-bottom: 15em; }
.p16em-sm{ padding: 16em; }
.pt16em-sm{ padding-top: 16em; }
.pb16em-sm{ padding-bottom: 16em; }
.pl16em-sm{ padding-left: 16em; }
.pr16em-sm{ padding-right: 16em; }
.px16em-sm{ padding-left: 16em; padding-right: 16em; }
.py16em-sm{ padding-top: 16em; padding-bottom: 16em; }
.p17em-sm{ padding: 17em; }
.pt17em-sm{ padding-top: 17em; }
.pb17em-sm{ padding-bottom: 17em; }
.pl17em-sm{ padding-left: 17em; }
.pr17em-sm{ padding-right: 17em; }
.px17em-sm{ padding-left: 17em; padding-right: 17em; }
.py17em-sm{ padding-top: 17em; padding-bottom: 17em; }
.p18em-sm{ padding: 18em; }
.pt18em-sm{ padding-top: 18em; }
.pb18em-sm{ padding-bottom: 18em; }
.pl18em-sm{ padding-left: 18em; }
.pr18em-sm{ padding-right: 18em; }
.px18em-sm{ padding-left: 18em; padding-right: 18em; }
.py18em-sm{ padding-top: 18em; padding-bottom: 18em; }
.p19em-sm{ padding: 19em; }
.pt19em-sm{ padding-top: 19em; }
.pb19em-sm{ padding-bottom: 19em; }
.pl19em-sm{ padding-left: 19em; }
.pr19em-sm{ padding-right: 19em; }
.px19em-sm{ padding-left: 19em; padding-right: 19em; }
.py19em-sm{ padding-top: 19em; padding-bottom: 19em; }
.p20em-sm{ padding: 20em; }
.pt20em-sm{ padding-top: 20em; }
.pb20em-sm{ padding-bottom: 20em; }
.pl20em-sm{ padding-left: 20em; }
.pr20em-sm{ padding-right: 20em; }
.px20em-sm{ padding-left: 20em; padding-right: 20em; }
.py20em-sm{ padding-top: 20em; padding-bottom: 20em; }
}

@media (min-width: 992px) {
 
.p0-md{ padding: 0px; }
.pt0-md{ padding-top: 0px; }
.pb0-md{ padding-bottom: 0px; }
.pl0-md{ padding-left: 0px; }
.pr0-md{ padding-right: 0px; }
.px0-md{ padding-left: 0px; padding-right: 0px; }
.py0-md{ padding-top: 0px; padding-bottom: 0px; }
.p1px-md{ padding: 1px; }
.pt1px-md{ padding-top: 1px; }
.pb1px-md{ padding-bottom: 1px; }
.pl1px-md{ padding-left: 1px; }
.pr1px-md{ padding-right: 1px; }
.px1px-md{ padding-left: 1px; padding-right: 1px; }
.py1px-md{ padding-top: 1px; padding-bottom: 1px; }
.p2px-md{ padding: 2px; }
.pt2px-md{ padding-top: 2px; }
.pb2px-md{ padding-bottom: 2px; }
.pl2px-md{ padding-left: 2px; }
.pr2px-md{ padding-right: 2px; }
.px2px-md{ padding-left: 2px; padding-right: 2px; }
.py2px-md{ padding-top: 2px; padding-bottom: 2px; }
.p3px-md{ padding: 3px; }
.pt3px-md{ padding-top: 3px; }
.pb3px-md{ padding-bottom: 3px; }
.pl3px-md{ padding-left: 3px; }
.pr3px-md{ padding-right: 3px; }
.px3px-md{ padding-left: 3px; padding-right: 3px; }
.py3px-md{ padding-top: 3px; padding-bottom: 3px; }
.p4px-md{ padding: 4px; }
.pt4px-md{ padding-top: 4px; }
.pb4px-md{ padding-bottom: 4px; }
.pl4px-md{ padding-left: 4px; }
.pr4px-md{ padding-right: 4px; }
.px4px-md{ padding-left: 4px; padding-right: 4px; }
.py4px-md{ padding-top: 4px; padding-bottom: 4px; }
.p5px-md{ padding: 5px; }
.pt5px-md{ padding-top: 5px; }
.pb5px-md{ padding-bottom: 5px; }
.pl5px-md{ padding-left: 5px; }
.pr5px-md{ padding-right: 5px; }
.px5px-md{ padding-left: 5px; padding-right: 5px; }
.py5px-md{ padding-top: 5px; padding-bottom: 5px; }
.p6px-md{ padding: 6px; }
.pt6px-md{ padding-top: 6px; }
.pb6px-md{ padding-bottom: 6px; }
.pl6px-md{ padding-left: 6px; }
.pr6px-md{ padding-right: 6px; }
.px6px-md{ padding-left: 6px; padding-right: 6px; }
.py6px-md{ padding-top: 6px; padding-bottom: 6px; }
.p7px-md{ padding: 7px; }
.pt7px-md{ padding-top: 7px; }
.pb7px-md{ padding-bottom: 7px; }
.pl7px-md{ padding-left: 7px; }
.pr7px-md{ padding-right: 7px; }
.px7px-md{ padding-left: 7px; padding-right: 7px; }
.py7px-md{ padding-top: 7px; padding-bottom: 7px; }
.p8px-md{ padding: 8px; }
.pt8px-md{ padding-top: 8px; }
.pb8px-md{ padding-bottom: 8px; }
.pl8px-md{ padding-left: 8px; }
.pr8px-md{ padding-right: 8px; }
.px8px-md{ padding-left: 8px; padding-right: 8px; }
.py8px-md{ padding-top: 8px; padding-bottom: 8px; }
.p9px-md{ padding: 9px; }
.pt9px-md{ padding-top: 9px; }
.pb9px-md{ padding-bottom: 9px; }
.pl9px-md{ padding-left: 9px; }
.pr9px-md{ padding-right: 9px; }
.px9px-md{ padding-left: 9px; padding-right: 9px; }
.py9px-md{ padding-top: 9px; padding-bottom: 9px; }
.p10px-md{ padding: 10px; }
.pt10px-md{ padding-top: 10px; }
.pb10px-md{ padding-bottom: 10px; }
.pl10px-md{ padding-left: 10px; }
.pr10px-md{ padding-right: 10px; }
.px10px-md{ padding-left: 10px; padding-right: 10px; }
.py10px-md{ padding-top: 10px; padding-bottom: 10px; }
.p11px-md{ padding: 11px; }
.pt11px-md{ padding-top: 11px; }
.pb11px-md{ padding-bottom: 11px; }
.pl11px-md{ padding-left: 11px; }
.pr11px-md{ padding-right: 11px; }
.px11px-md{ padding-left: 11px; padding-right: 11px; }
.py11px-md{ padding-top: 11px; padding-bottom: 11px; }
.p12px-md{ padding: 12px; }
.pt12px-md{ padding-top: 12px; }
.pb12px-md{ padding-bottom: 12px; }
.pl12px-md{ padding-left: 12px; }
.pr12px-md{ padding-right: 12px; }
.px12px-md{ padding-left: 12px; padding-right: 12px; }
.py12px-md{ padding-top: 12px; padding-bottom: 12px; }
.p13px-md{ padding: 13px; }
.pt13px-md{ padding-top: 13px; }
.pb13px-md{ padding-bottom: 13px; }
.pl13px-md{ padding-left: 13px; }
.pr13px-md{ padding-right: 13px; }
.px13px-md{ padding-left: 13px; padding-right: 13px; }
.py13px-md{ padding-top: 13px; padding-bottom: 13px; }
.p14px-md{ padding: 14px; }
.pt14px-md{ padding-top: 14px; }
.pb14px-md{ padding-bottom: 14px; }
.pl14px-md{ padding-left: 14px; }
.pr14px-md{ padding-right: 14px; }
.px14px-md{ padding-left: 14px; padding-right: 14px; }
.py14px-md{ padding-top: 14px; padding-bottom: 14px; }
.p15px-md{ padding: 15px; }
.pt15px-md{ padding-top: 15px; }
.pb15px-md{ padding-bottom: 15px; }
.pl15px-md{ padding-left: 15px; }
.pr15px-md{ padding-right: 15px; }
.px15px-md{ padding-left: 15px; padding-right: 15px; }
.py15px-md{ padding-top: 15px; padding-bottom: 15px; }
.p16px-md{ padding: 16px; }
.pt16px-md{ padding-top: 16px; }
.pb16px-md{ padding-bottom: 16px; }
.pl16px-md{ padding-left: 16px; }
.pr16px-md{ padding-right: 16px; }
.px16px-md{ padding-left: 16px; padding-right: 16px; }
.py16px-md{ padding-top: 16px; padding-bottom: 16px; }
.p17px-md{ padding: 17px; }
.pt17px-md{ padding-top: 17px; }
.pb17px-md{ padding-bottom: 17px; }
.pl17px-md{ padding-left: 17px; }
.pr17px-md{ padding-right: 17px; }
.px17px-md{ padding-left: 17px; padding-right: 17px; }
.py17px-md{ padding-top: 17px; padding-bottom: 17px; }
.p18px-md{ padding: 18px; }
.pt18px-md{ padding-top: 18px; }
.pb18px-md{ padding-bottom: 18px; }
.pl18px-md{ padding-left: 18px; }
.pr18px-md{ padding-right: 18px; }
.px18px-md{ padding-left: 18px; padding-right: 18px; }
.py18px-md{ padding-top: 18px; padding-bottom: 18px; }
.p19px-md{ padding: 19px; }
.pt19px-md{ padding-top: 19px; }
.pb19px-md{ padding-bottom: 19px; }
.pl19px-md{ padding-left: 19px; }
.pr19px-md{ padding-right: 19px; }
.px19px-md{ padding-left: 19px; padding-right: 19px; }
.py19px-md{ padding-top: 19px; padding-bottom: 19px; }
.p20px-md{ padding: 20px; }
.pt20px-md{ padding-top: 20px; }
.pb20px-md{ padding-bottom: 20px; }
.pl20px-md{ padding-left: 20px; }
.pr20px-md{ padding-right: 20px; }
.px20px-md{ padding-left: 20px; padding-right: 20px; }
.py20px-md{ padding-top: 20px; padding-bottom: 20px; }
.p1em-md{ padding: 1em; }
.pt1em-md{ padding-top: 1em; }
.pb1em-md{ padding-bottom: 1em; }
.pl1em-md{ padding-left: 1em; }
.pr1em-md{ padding-right: 1em; }
.px1em-md{ padding-left: 1em; padding-right: 1em; }
.py1em-md{ padding-top: 1em; padding-bottom: 1em; }
.p2em-md{ padding: 2em; }
.pt2em-md{ padding-top: 2em; }
.pb2em-md{ padding-bottom: 2em; }
.pl2em-md{ padding-left: 2em; }
.pr2em-md{ padding-right: 2em; }
.px2em-md{ padding-left: 2em; padding-right: 2em; }
.py2em-md{ padding-top: 2em; padding-bottom: 2em; }
.p3em-md{ padding: 3em; }
.pt3em-md{ padding-top: 3em; }
.pb3em-md{ padding-bottom: 3em; }
.pl3em-md{ padding-left: 3em; }
.pr3em-md{ padding-right: 3em; }
.px3em-md{ padding-left: 3em; padding-right: 3em; }
.py3em-md{ padding-top: 3em; padding-bottom: 3em; }
.p4em-md{ padding: 4em; }
.pt4em-md{ padding-top: 4em; }
.pb4em-md{ padding-bottom: 4em; }
.pl4em-md{ padding-left: 4em; }
.pr4em-md{ padding-right: 4em; }
.px4em-md{ padding-left: 4em; padding-right: 4em; }
.py4em-md{ padding-top: 4em; padding-bottom: 4em; }
.p5em-md{ padding: 5em; }
.pt5em-md{ padding-top: 5em; }
.pb5em-md{ padding-bottom: 5em; }
.pl5em-md{ padding-left: 5em; }
.pr5em-md{ padding-right: 5em; }
.px5em-md{ padding-left: 5em; padding-right: 5em; }
.py5em-md{ padding-top: 5em; padding-bottom: 5em; }
.p6em-md{ padding: 6em; }
.pt6em-md{ padding-top: 6em; }
.pb6em-md{ padding-bottom: 6em; }
.pl6em-md{ padding-left: 6em; }
.pr6em-md{ padding-right: 6em; }
.px6em-md{ padding-left: 6em; padding-right: 6em; }
.py6em-md{ padding-top: 6em; padding-bottom: 6em; }
.p7em-md{ padding: 7em; }
.pt7em-md{ padding-top: 7em; }
.pb7em-md{ padding-bottom: 7em; }
.pl7em-md{ padding-left: 7em; }
.pr7em-md{ padding-right: 7em; }
.px7em-md{ padding-left: 7em; padding-right: 7em; }
.py7em-md{ padding-top: 7em; padding-bottom: 7em; }
.p8em-md{ padding: 8em; }
.pt8em-md{ padding-top: 8em; }
.pb8em-md{ padding-bottom: 8em; }
.pl8em-md{ padding-left: 8em; }
.pr8em-md{ padding-right: 8em; }
.px8em-md{ padding-left: 8em; padding-right: 8em; }
.py8em-md{ padding-top: 8em; padding-bottom: 8em; }
.p9em-md{ padding: 9em; }
.pt9em-md{ padding-top: 9em; }
.pb9em-md{ padding-bottom: 9em; }
.pl9em-md{ padding-left: 9em; }
.pr9em-md{ padding-right: 9em; }
.px9em-md{ padding-left: 9em; padding-right: 9em; }
.py9em-md{ padding-top: 9em; padding-bottom: 9em; }
.p10em-md{ padding: 10em; }
.pt10em-md{ padding-top: 10em; }
.pb10em-md{ padding-bottom: 10em; }
.pl10em-md{ padding-left: 10em; }
.pr10em-md{ padding-right: 10em; }
.px10em-md{ padding-left: 10em; padding-right: 10em; }
.py10em-md{ padding-top: 10em; padding-bottom: 10em; }
.p11em-md{ padding: 11em; }
.pt11em-md{ padding-top: 11em; }
.pb11em-md{ padding-bottom: 11em; }
.pl11em-md{ padding-left: 11em; }
.pr11em-md{ padding-right: 11em; }
.px11em-md{ padding-left: 11em; padding-right: 11em; }
.py11em-md{ padding-top: 11em; padding-bottom: 11em; }
.p12em-md{ padding: 12em; }
.pt12em-md{ padding-top: 12em; }
.pb12em-md{ padding-bottom: 12em; }
.pl12em-md{ padding-left: 12em; }
.pr12em-md{ padding-right: 12em; }
.px12em-md{ padding-left: 12em; padding-right: 12em; }
.py12em-md{ padding-top: 12em; padding-bottom: 12em; }
.p13em-md{ padding: 13em; }
.pt13em-md{ padding-top: 13em; }
.pb13em-md{ padding-bottom: 13em; }
.pl13em-md{ padding-left: 13em; }
.pr13em-md{ padding-right: 13em; }
.px13em-md{ padding-left: 13em; padding-right: 13em; }
.py13em-md{ padding-top: 13em; padding-bottom: 13em; }
.p14em-md{ padding: 14em; }
.pt14em-md{ padding-top: 14em; }
.pb14em-md{ padding-bottom: 14em; }
.pl14em-md{ padding-left: 14em; }
.pr14em-md{ padding-right: 14em; }
.px14em-md{ padding-left: 14em; padding-right: 14em; }
.py14em-md{ padding-top: 14em; padding-bottom: 14em; }
.p15em-md{ padding: 15em; }
.pt15em-md{ padding-top: 15em; }
.pb15em-md{ padding-bottom: 15em; }
.pl15em-md{ padding-left: 15em; }
.pr15em-md{ padding-right: 15em; }
.px15em-md{ padding-left: 15em; padding-right: 15em; }
.py15em-md{ padding-top: 15em; padding-bottom: 15em; }
.p16em-md{ padding: 16em; }
.pt16em-md{ padding-top: 16em; }
.pb16em-md{ padding-bottom: 16em; }
.pl16em-md{ padding-left: 16em; }
.pr16em-md{ padding-right: 16em; }
.px16em-md{ padding-left: 16em; padding-right: 16em; }
.py16em-md{ padding-top: 16em; padding-bottom: 16em; }
.p17em-md{ padding: 17em; }
.pt17em-md{ padding-top: 17em; }
.pb17em-md{ padding-bottom: 17em; }
.pl17em-md{ padding-left: 17em; }
.pr17em-md{ padding-right: 17em; }
.px17em-md{ padding-left: 17em; padding-right: 17em; }
.py17em-md{ padding-top: 17em; padding-bottom: 17em; }
.p18em-md{ padding: 18em; }
.pt18em-md{ padding-top: 18em; }
.pb18em-md{ padding-bottom: 18em; }
.pl18em-md{ padding-left: 18em; }
.pr18em-md{ padding-right: 18em; }
.px18em-md{ padding-left: 18em; padding-right: 18em; }
.py18em-md{ padding-top: 18em; padding-bottom: 18em; }
.p19em-md{ padding: 19em; }
.pt19em-md{ padding-top: 19em; }
.pb19em-md{ padding-bottom: 19em; }
.pl19em-md{ padding-left: 19em; }
.pr19em-md{ padding-right: 19em; }
.px19em-md{ padding-left: 19em; padding-right: 19em; }
.py19em-md{ padding-top: 19em; padding-bottom: 19em; }
.p20em-md{ padding: 20em; }
.pt20em-md{ padding-top: 20em; }
.pb20em-md{ padding-bottom: 20em; }
.pl20em-md{ padding-left: 20em; }
.pr20em-md{ padding-right: 20em; }
.px20em-md{ padding-left: 20em; padding-right: 20em; }
.py20em-md{ padding-top: 20em; padding-bottom: 20em; }
}

@media (min-width: 1200px) {
 
.p0-lg{ padding: 0px; }
.pt0-lg{ padding-top: 0px; }
.pb0-lg{ padding-bottom: 0px; }
.pl0-lg{ padding-left: 0px; }
.pr0-lg{ padding-right: 0px; }
.px0-lg{ padding-left: 0px; padding-right: 0px; }
.py0-lg{ padding-top: 0px; padding-bottom: 0px; }
.p1px-lg{ padding: 1px; }
.pt1px-lg{ padding-top: 1px; }
.pb1px-lg{ padding-bottom: 1px; }
.pl1px-lg{ padding-left: 1px; }
.pr1px-lg{ padding-right: 1px; }
.px1px-lg{ padding-left: 1px; padding-right: 1px; }
.py1px-lg{ padding-top: 1px; padding-bottom: 1px; }
.p2px-lg{ padding: 2px; }
.pt2px-lg{ padding-top: 2px; }
.pb2px-lg{ padding-bottom: 2px; }
.pl2px-lg{ padding-left: 2px; }
.pr2px-lg{ padding-right: 2px; }
.px2px-lg{ padding-left: 2px; padding-right: 2px; }
.py2px-lg{ padding-top: 2px; padding-bottom: 2px; }
.p3px-lg{ padding: 3px; }
.pt3px-lg{ padding-top: 3px; }
.pb3px-lg{ padding-bottom: 3px; }
.pl3px-lg{ padding-left: 3px; }
.pr3px-lg{ padding-right: 3px; }
.px3px-lg{ padding-left: 3px; padding-right: 3px; }
.py3px-lg{ padding-top: 3px; padding-bottom: 3px; }
.p4px-lg{ padding: 4px; }
.pt4px-lg{ padding-top: 4px; }
.pb4px-lg{ padding-bottom: 4px; }
.pl4px-lg{ padding-left: 4px; }
.pr4px-lg{ padding-right: 4px; }
.px4px-lg{ padding-left: 4px; padding-right: 4px; }
.py4px-lg{ padding-top: 4px; padding-bottom: 4px; }
.p5px-lg{ padding: 5px; }
.pt5px-lg{ padding-top: 5px; }
.pb5px-lg{ padding-bottom: 5px; }
.pl5px-lg{ padding-left: 5px; }
.pr5px-lg{ padding-right: 5px; }
.px5px-lg{ padding-left: 5px; padding-right: 5px; }
.py5px-lg{ padding-top: 5px; padding-bottom: 5px; }
.p6px-lg{ padding: 6px; }
.pt6px-lg{ padding-top: 6px; }
.pb6px-lg{ padding-bottom: 6px; }
.pl6px-lg{ padding-left: 6px; }
.pr6px-lg{ padding-right: 6px; }
.px6px-lg{ padding-left: 6px; padding-right: 6px; }
.py6px-lg{ padding-top: 6px; padding-bottom: 6px; }
.p7px-lg{ padding: 7px; }
.pt7px-lg{ padding-top: 7px; }
.pb7px-lg{ padding-bottom: 7px; }
.pl7px-lg{ padding-left: 7px; }
.pr7px-lg{ padding-right: 7px; }
.px7px-lg{ padding-left: 7px; padding-right: 7px; }
.py7px-lg{ padding-top: 7px; padding-bottom: 7px; }
.p8px-lg{ padding: 8px; }
.pt8px-lg{ padding-top: 8px; }
.pb8px-lg{ padding-bottom: 8px; }
.pl8px-lg{ padding-left: 8px; }
.pr8px-lg{ padding-right: 8px; }
.px8px-lg{ padding-left: 8px; padding-right: 8px; }
.py8px-lg{ padding-top: 8px; padding-bottom: 8px; }
.p9px-lg{ padding: 9px; }
.pt9px-lg{ padding-top: 9px; }
.pb9px-lg{ padding-bottom: 9px; }
.pl9px-lg{ padding-left: 9px; }
.pr9px-lg{ padding-right: 9px; }
.px9px-lg{ padding-left: 9px; padding-right: 9px; }
.py9px-lg{ padding-top: 9px; padding-bottom: 9px; }
.p10px-lg{ padding: 10px; }
.pt10px-lg{ padding-top: 10px; }
.pb10px-lg{ padding-bottom: 10px; }
.pl10px-lg{ padding-left: 10px; }
.pr10px-lg{ padding-right: 10px; }
.px10px-lg{ padding-left: 10px; padding-right: 10px; }
.py10px-lg{ padding-top: 10px; padding-bottom: 10px; }
.p11px-lg{ padding: 11px; }
.pt11px-lg{ padding-top: 11px; }
.pb11px-lg{ padding-bottom: 11px; }
.pl11px-lg{ padding-left: 11px; }
.pr11px-lg{ padding-right: 11px; }
.px11px-lg{ padding-left: 11px; padding-right: 11px; }
.py11px-lg{ padding-top: 11px; padding-bottom: 11px; }
.p12px-lg{ padding: 12px; }
.pt12px-lg{ padding-top: 12px; }
.pb12px-lg{ padding-bottom: 12px; }
.pl12px-lg{ padding-left: 12px; }
.pr12px-lg{ padding-right: 12px; }
.px12px-lg{ padding-left: 12px; padding-right: 12px; }
.py12px-lg{ padding-top: 12px; padding-bottom: 12px; }
.p13px-lg{ padding: 13px; }
.pt13px-lg{ padding-top: 13px; }
.pb13px-lg{ padding-bottom: 13px; }
.pl13px-lg{ padding-left: 13px; }
.pr13px-lg{ padding-right: 13px; }
.px13px-lg{ padding-left: 13px; padding-right: 13px; }
.py13px-lg{ padding-top: 13px; padding-bottom: 13px; }
.p14px-lg{ padding: 14px; }
.pt14px-lg{ padding-top: 14px; }
.pb14px-lg{ padding-bottom: 14px; }
.pl14px-lg{ padding-left: 14px; }
.pr14px-lg{ padding-right: 14px; }
.px14px-lg{ padding-left: 14px; padding-right: 14px; }
.py14px-lg{ padding-top: 14px; padding-bottom: 14px; }
.p15px-lg{ padding: 15px; }
.pt15px-lg{ padding-top: 15px; }
.pb15px-lg{ padding-bottom: 15px; }
.pl15px-lg{ padding-left: 15px; }
.pr15px-lg{ padding-right: 15px; }
.px15px-lg{ padding-left: 15px; padding-right: 15px; }
.py15px-lg{ padding-top: 15px; padding-bottom: 15px; }
.p16px-lg{ padding: 16px; }
.pt16px-lg{ padding-top: 16px; }
.pb16px-lg{ padding-bottom: 16px; }
.pl16px-lg{ padding-left: 16px; }
.pr16px-lg{ padding-right: 16px; }
.px16px-lg{ padding-left: 16px; padding-right: 16px; }
.py16px-lg{ padding-top: 16px; padding-bottom: 16px; }
.p17px-lg{ padding: 17px; }
.pt17px-lg{ padding-top: 17px; }
.pb17px-lg{ padding-bottom: 17px; }
.pl17px-lg{ padding-left: 17px; }
.pr17px-lg{ padding-right: 17px; }
.px17px-lg{ padding-left: 17px; padding-right: 17px; }
.py17px-lg{ padding-top: 17px; padding-bottom: 17px; }
.p18px-lg{ padding: 18px; }
.pt18px-lg{ padding-top: 18px; }
.pb18px-lg{ padding-bottom: 18px; }
.pl18px-lg{ padding-left: 18px; }
.pr18px-lg{ padding-right: 18px; }
.px18px-lg{ padding-left: 18px; padding-right: 18px; }
.py18px-lg{ padding-top: 18px; padding-bottom: 18px; }
.p19px-lg{ padding: 19px; }
.pt19px-lg{ padding-top: 19px; }
.pb19px-lg{ padding-bottom: 19px; }
.pl19px-lg{ padding-left: 19px; }
.pr19px-lg{ padding-right: 19px; }
.px19px-lg{ padding-left: 19px; padding-right: 19px; }
.py19px-lg{ padding-top: 19px; padding-bottom: 19px; }
.p20px-lg{ padding: 20px; }
.pt20px-lg{ padding-top: 20px; }
.pb20px-lg{ padding-bottom: 20px; }
.pl20px-lg{ padding-left: 20px; }
.pr20px-lg{ padding-right: 20px; }
.px20px-lg{ padding-left: 20px; padding-right: 20px; }
.py20px-lg{ padding-top: 20px; padding-bottom: 20px; }
.p1em-lg{ padding: 1em; }
.pt1em-lg{ padding-top: 1em; }
.pb1em-lg{ padding-bottom: 1em; }
.pl1em-lg{ padding-left: 1em; }
.pr1em-lg{ padding-right: 1em; }
.px1em-lg{ padding-left: 1em; padding-right: 1em; }
.py1em-lg{ padding-top: 1em; padding-bottom: 1em; }
.p2em-lg{ padding: 2em; }
.pt2em-lg{ padding-top: 2em; }
.pb2em-lg{ padding-bottom: 2em; }
.pl2em-lg{ padding-left: 2em; }
.pr2em-lg{ padding-right: 2em; }
.px2em-lg{ padding-left: 2em; padding-right: 2em; }
.py2em-lg{ padding-top: 2em; padding-bottom: 2em; }
.p3em-lg{ padding: 3em; }
.pt3em-lg{ padding-top: 3em; }
.pb3em-lg{ padding-bottom: 3em; }
.pl3em-lg{ padding-left: 3em; }
.pr3em-lg{ padding-right: 3em; }
.px3em-lg{ padding-left: 3em; padding-right: 3em; }
.py3em-lg{ padding-top: 3em; padding-bottom: 3em; }
.p4em-lg{ padding: 4em; }
.pt4em-lg{ padding-top: 4em; }
.pb4em-lg{ padding-bottom: 4em; }
.pl4em-lg{ padding-left: 4em; }
.pr4em-lg{ padding-right: 4em; }
.px4em-lg{ padding-left: 4em; padding-right: 4em; }
.py4em-lg{ padding-top: 4em; padding-bottom: 4em; }
.p5em-lg{ padding: 5em; }
.pt5em-lg{ padding-top: 5em; }
.pb5em-lg{ padding-bottom: 5em; }
.pl5em-lg{ padding-left: 5em; }
.pr5em-lg{ padding-right: 5em; }
.px5em-lg{ padding-left: 5em; padding-right: 5em; }
.py5em-lg{ padding-top: 5em; padding-bottom: 5em; }
.p6em-lg{ padding: 6em; }
.pt6em-lg{ padding-top: 6em; }
.pb6em-lg{ padding-bottom: 6em; }
.pl6em-lg{ padding-left: 6em; }
.pr6em-lg{ padding-right: 6em; }
.px6em-lg{ padding-left: 6em; padding-right: 6em; }
.py6em-lg{ padding-top: 6em; padding-bottom: 6em; }
.p7em-lg{ padding: 7em; }
.pt7em-lg{ padding-top: 7em; }
.pb7em-lg{ padding-bottom: 7em; }
.pl7em-lg{ padding-left: 7em; }
.pr7em-lg{ padding-right: 7em; }
.px7em-lg{ padding-left: 7em; padding-right: 7em; }
.py7em-lg{ padding-top: 7em; padding-bottom: 7em; }
.p8em-lg{ padding: 8em; }
.pt8em-lg{ padding-top: 8em; }
.pb8em-lg{ padding-bottom: 8em; }
.pl8em-lg{ padding-left: 8em; }
.pr8em-lg{ padding-right: 8em; }
.px8em-lg{ padding-left: 8em; padding-right: 8em; }
.py8em-lg{ padding-top: 8em; padding-bottom: 8em; }
.p9em-lg{ padding: 9em; }
.pt9em-lg{ padding-top: 9em; }
.pb9em-lg{ padding-bottom: 9em; }
.pl9em-lg{ padding-left: 9em; }
.pr9em-lg{ padding-right: 9em; }
.px9em-lg{ padding-left: 9em; padding-right: 9em; }
.py9em-lg{ padding-top: 9em; padding-bottom: 9em; }
.p10em-lg{ padding: 10em; }
.pt10em-lg{ padding-top: 10em; }
.pb10em-lg{ padding-bottom: 10em; }
.pl10em-lg{ padding-left: 10em; }
.pr10em-lg{ padding-right: 10em; }
.px10em-lg{ padding-left: 10em; padding-right: 10em; }
.py10em-lg{ padding-top: 10em; padding-bottom: 10em; }
.p11em-lg{ padding: 11em; }
.pt11em-lg{ padding-top: 11em; }
.pb11em-lg{ padding-bottom: 11em; }
.pl11em-lg{ padding-left: 11em; }
.pr11em-lg{ padding-right: 11em; }
.px11em-lg{ padding-left: 11em; padding-right: 11em; }
.py11em-lg{ padding-top: 11em; padding-bottom: 11em; }
.p12em-lg{ padding: 12em; }
.pt12em-lg{ padding-top: 12em; }
.pb12em-lg{ padding-bottom: 12em; }
.pl12em-lg{ padding-left: 12em; }
.pr12em-lg{ padding-right: 12em; }
.px12em-lg{ padding-left: 12em; padding-right: 12em; }
.py12em-lg{ padding-top: 12em; padding-bottom: 12em; }
.p13em-lg{ padding: 13em; }
.pt13em-lg{ padding-top: 13em; }
.pb13em-lg{ padding-bottom: 13em; }
.pl13em-lg{ padding-left: 13em; }
.pr13em-lg{ padding-right: 13em; }
.px13em-lg{ padding-left: 13em; padding-right: 13em; }
.py13em-lg{ padding-top: 13em; padding-bottom: 13em; }
.p14em-lg{ padding: 14em; }
.pt14em-lg{ padding-top: 14em; }
.pb14em-lg{ padding-bottom: 14em; }
.pl14em-lg{ padding-left: 14em; }
.pr14em-lg{ padding-right: 14em; }
.px14em-lg{ padding-left: 14em; padding-right: 14em; }
.py14em-lg{ padding-top: 14em; padding-bottom: 14em; }
.p15em-lg{ padding: 15em; }
.pt15em-lg{ padding-top: 15em; }
.pb15em-lg{ padding-bottom: 15em; }
.pl15em-lg{ padding-left: 15em; }
.pr15em-lg{ padding-right: 15em; }
.px15em-lg{ padding-left: 15em; padding-right: 15em; }
.py15em-lg{ padding-top: 15em; padding-bottom: 15em; }
.p16em-lg{ padding: 16em; }
.pt16em-lg{ padding-top: 16em; }
.pb16em-lg{ padding-bottom: 16em; }
.pl16em-lg{ padding-left: 16em; }
.pr16em-lg{ padding-right: 16em; }
.px16em-lg{ padding-left: 16em; padding-right: 16em; }
.py16em-lg{ padding-top: 16em; padding-bottom: 16em; }
.p17em-lg{ padding: 17em; }
.pt17em-lg{ padding-top: 17em; }
.pb17em-lg{ padding-bottom: 17em; }
.pl17em-lg{ padding-left: 17em; }
.pr17em-lg{ padding-right: 17em; }
.px17em-lg{ padding-left: 17em; padding-right: 17em; }
.py17em-lg{ padding-top: 17em; padding-bottom: 17em; }
.p18em-lg{ padding: 18em; }
.pt18em-lg{ padding-top: 18em; }
.pb18em-lg{ padding-bottom: 18em; }
.pl18em-lg{ padding-left: 18em; }
.pr18em-lg{ padding-right: 18em; }
.px18em-lg{ padding-left: 18em; padding-right: 18em; }
.py18em-lg{ padding-top: 18em; padding-bottom: 18em; }
.p19em-lg{ padding: 19em; }
.pt19em-lg{ padding-top: 19em; }
.pb19em-lg{ padding-bottom: 19em; }
.pl19em-lg{ padding-left: 19em; }
.pr19em-lg{ padding-right: 19em; }
.px19em-lg{ padding-left: 19em; padding-right: 19em; }
.py19em-lg{ padding-top: 19em; padding-bottom: 19em; }
.p20em-lg{ padding: 20em; }
.pt20em-lg{ padding-top: 20em; }
.pb20em-lg{ padding-bottom: 20em; }
.pl20em-lg{ padding-left: 20em; }
.pr20em-lg{ padding-right: 20em; }
.px20em-lg{ padding-left: 20em; padding-right: 20em; }
.py20em-lg{ padding-top: 20em; padding-bottom: 20em; }
}