/*font style*/
.font-normal{font-weight: normal;}
.font-bold{font-weight: bold;}
.font-italic{font-style: italic;}

.font0, .font0px{font-size: 0;}
.font0f, .font0fpx{font-size: 0!important;}
.font1px{font-size: 1px;}
.font2px{font-size: 2px;}
.font3px{font-size: 3px;}
.font4px{font-size: 4px;}
.font5px{font-size: 5px;}
.font6px{font-size: 6px;}
.font7px{font-size: 7px;}
.font8px{font-size: 8px;}
.font9px{font-size: 9px;}
.font10px{font-size: 10px;}
.font11px{font-size: 11px;}
.font12px{font-size: 12px;}
.font13px{font-size: 13px;}
.font14px{font-size: 14px;}
.font15px{font-size: 15px;}
.font16px{font-size: 16px;}
.font17px{font-size: 17px;}
.font18px{font-size: 18px;}
.font19px{font-size: 19px;}
.font20px{font-size: 20px;}
.font1em{font-size: 1em;}
.font1d1em{font-size: 1.1em;}
.font1d2em{font-size: 1.2em;}
.font1d3em{font-size: 1.3em;}
.font1d4em{font-size: 1.4em;}
.font1d5em{font-size: 1.5em;}
.font1d6em{font-size: 1.6em;}
.font1d7em{font-size: 1.7em;}
.font1d8em{font-size: 1.8em;}
.font1d9em{font-size: 1.9em;}
.font2em{font-size: 2em;}
.font2d1em{font-size: 2.1em;}
.font2d2em{font-size: 2.2em;}
.font2d3em{font-size: 2.3em;}
.font2d4em{font-size: 2.4em;}
.font2d5em{font-size: 2.5em;}
.font2d6em{font-size: 2.6em;}
.font2d7em{font-size: 2.7em;}
.font2d8em{font-size: 2.8em;}
.font2d9em{font-size: 2.9em;}
.font3em{font-size: 3em;}
.font4em{font-size: 4em;}
.font5em{font-size: 5em;}
.font6em{font-size: 6em;}
.font7em{font-size: 7em;}
.font8em{font-size: 8em;}
.font9em{font-size: 9em;}
.font10em{font-size: 10em;}
.font11em{font-size: 11em;}
.font12em{font-size: 12em;}
.font13em{font-size: 13em;}
.font14em{font-size: 14em;}
.font15em{font-size: 15em;}
.font16em{font-size: 16em;}
.font17em{font-size: 17em;}
.font18em{font-size: 18em;}
.font19em{font-size: 19em;}
.font20em{font-size: 20em;}

@media (min-width: 768px) {
.font1px-sm{font-size: 1px;}
.font2px-sm{font-size: 2px;}
.font3px-sm{font-size: 3px;}
.font4px-sm{font-size: 4px;}
.font5px-sm{font-size: 5px;}
.font6px-sm{font-size: 6px;}
.font7px-sm{font-size: 7px;}
.font8px-sm{font-size: 8px;}
.font9px-sm{font-size: 9px;}
.font10px-sm{font-size: 10px;}
.font11px-sm{font-size: 11px;}
.font12px-sm{font-size: 12px;}
.font13px-sm{font-size: 13px;}
.font14px-sm{font-size: 14px;}
.font15px-sm{font-size: 15px;}
.font16px-sm{font-size: 16px;}
.font17px-sm{font-size: 17px;}
.font18px-sm{font-size: 18px;}
.font19px-sm{font-size: 19px;}
.font20px-sm{font-size: 20px;}
.font1em-sm{font-size: 1em;}
.font1d1em-sm{font-size: 1.1em;}
.font1d2em-sm{font-size: 1.2em;}
.font1d3em-sm{font-size: 1.3em;}
.font1d4em-sm{font-size: 1.4em;}
.font1d5em-sm{font-size: 1.5em;}
.font1d6em-sm{font-size: 1.6em;}
.font1d7em-sm{font-size: 1.7em;}
.font1d8em-sm{font-size: 1.8em;}
.font1d9em-sm{font-size: 1.9em;}
.font2em-sm{font-size: 2em;}
.font2d1em-sm{font-size: 2.1em;}
.font2d2em-sm{font-size: 2.2em;}
.font2d3em-sm{font-size: 2.3em;}
.font2d4em-sm{font-size: 2.4em;}
.font2d5em-sm{font-size: 2.5em;}
.font2d6em-sm{font-size: 2.6em;}
.font2d7em-sm{font-size: 2.7em;}
.font2d8em-sm{font-size: 2.8em;}
.font2d9em-sm{font-size: 2.9em;}
.font3em-sm{font-size: 3em;}
.font4em-sm{font-size: 4em;}
.font5em-sm{font-size: 5em;}
.font6em-sm{font-size: 6em;}
.font7em-sm{font-size: 7em;}
.font8em-sm{font-size: 8em;}
.font9em-sm{font-size: 9em;}
.font10em-sm{font-size: 10em;}
.font11em-sm{font-size: 11em;}
.font12em-sm{font-size: 12em;}
.font13em-sm{font-size: 13em;}
.font14em-sm{font-size: 14em;}
.font15em-sm{font-size: 15em;}
.font16em-sm{font-size: 16em;}
.font17em-sm{font-size: 17em;}
.font18em-sm{font-size: 18em;}
.font19em-sm{font-size: 19em;}
.font20em-sm{font-size: 20em;}
}

@media (min-width: 992px) {
.font1px-md{font-size: 1px;}
.font2px-md{font-size: 2px;}
.font3px-md{font-size: 3px;}
.font4px-md{font-size: 4px;}
.font5px-md{font-size: 5px;}
.font6px-md{font-size: 6px;}
.font7px-md{font-size: 7px;}
.font8px-md{font-size: 8px;}
.font9px-md{font-size: 9px;}
.font10px-md{font-size: 10px;}
.font11px-md{font-size: 11px;}
.font12px-md{font-size: 12px;}
.font13px-md{font-size: 13px;}
.font14px-md{font-size: 14px;}
.font15px-md{font-size: 15px;}
.font16px-md{font-size: 16px;}
.font17px-md{font-size: 17px;}
.font18px-md{font-size: 18px;}
.font19px-md{font-size: 19px;}
.font20px-md{font-size: 20px;}
.font1em-md{font-size: 1em;}
.font1d1em-md{font-size: 1.1em;}
.font1d2em-md{font-size: 1.2em;}
.font1d3em-md{font-size: 1.3em;}
.font1d4em-md{font-size: 1.4em;}
.font1d5em-md{font-size: 1.5em;}
.font1d6em-md{font-size: 1.6em;}
.font1d7em-md{font-size: 1.7em;}
.font1d8em-md{font-size: 1.8em;}
.font1d9em-md{font-size: 1.9em;}
.font2em-md{font-size: 2em;}
.font2d1em-md{font-size: 2.1em;}
.font2d2em-md{font-size: 2.2em;}
.font2d3em-md{font-size: 2.3em;}
.font2d4em-md{font-size: 2.4em;}
.font2d5em-md{font-size: 2.5em;}
.font2d6em-md{font-size: 2.6em;}
.font2d7em-md{font-size: 2.7em;}
.font2d8em-md{font-size: 2.8em;}
.font2d9em-md{font-size: 2.9em;}
.font3em-md{font-size: 3em;}
.font4em-md{font-size: 4em;}
.font5em-md{font-size: 5em;}
.font6em-md{font-size: 6em;}
.font7em-md{font-size: 7em;}
.font8em-md{font-size: 8em;}
.font9em-md{font-size: 9em;}
.font10em-md{font-size: 10em;}
.font11em-md{font-size: 11em;}
.font12em-md{font-size: 12em;}
.font13em-md{font-size: 13em;}
.font14em-md{font-size: 14em;}
.font15em-md{font-size: 15em;}
.font16em-md{font-size: 16em;}
.font17em-md{font-size: 17em;}
.font18em-md{font-size: 18em;}
.font19em-md{font-size: 19em;}
.font20em-md{font-size: 20em;}
}

@media (min-width: 1200px) {
.font1px-lg{font-size: 1px;}
.font2px-lg{font-size: 2px;}
.font3px-lg{font-size: 3px;}
.font4px-lg{font-size: 4px;}
.font5px-lg{font-size: 5px;}
.font6px-lg{font-size: 6px;}
.font7px-lg{font-size: 7px;}
.font8px-lg{font-size: 8px;}
.font9px-lg{font-size: 9px;}
.font10px-lg{font-size: 10px;}
.font11px-lg{font-size: 11px;}
.font12px-lg{font-size: 12px;}
.font13px-lg{font-size: 13px;}
.font14px-lg{font-size: 14px;}
.font15px-lg{font-size: 15px;}
.font16px-lg{font-size: 16px;}
.font17px-lg{font-size: 17px;}
.font18px-lg{font-size: 18px;}
.font19px-lg{font-size: 19px;}
.font20px-lg{font-size: 20px;}
.font1em-lg{font-size: 1em;}
.font1d1em-lg{font-size: 1.1em;}
.font1d2em-lg{font-size: 1.2em;}
.font1d3em-lg{font-size: 1.3em;}
.font1d4em-lg{font-size: 1.4em;}
.font1d5em-lg{font-size: 1.5em;}
.font1d6em-lg{font-size: 1.6em;}
.font1d7em-lg{font-size: 1.7em;}
.font1d8em-lg{font-size: 1.8em;}
.font1d9em-lg{font-size: 1.9em;}
.font2em-lg{font-size: 2em;}
.font2d1em-lg{font-size: 2.1em;}
.font2d2em-lg{font-size: 2.2em;}
.font2d3em-lg{font-size: 2.3em;}
.font2d4em-lg{font-size: 2.4em;}
.font2d5em-lg{font-size: 2.5em;}
.font2d6em-lg{font-size: 2.6em;}
.font2d7em-lg{font-size: 2.7em;}
.font2d8em-lg{font-size: 2.8em;}
.font2d9em-lg{font-size: 2.9em;}
.font3em-lg{font-size: 3em;}
.font4em-lg{font-size: 4em;}
.font5em-lg{font-size: 5em;}
.font6em-lg{font-size: 6em;}
.font7em-lg{font-size: 7em;}
.font8em-lg{font-size: 8em;}
.font9em-lg{font-size: 9em;}
.font10em-lg{font-size: 10em;}
.font11em-lg{font-size: 11em;}
.font12em-lg{font-size: 12em;}
.font13em-lg{font-size: 13em;}
.font14em-lg{font-size: 14em;}
.font15em-lg{font-size: 15em;}
.font16em-lg{font-size: 16em;}
.font17em-lg{font-size: 17em;}
.font18em-lg{font-size: 18em;}
.font19em-lg{font-size: 19em;}
.font20em-lg{font-size: 20em;}
}

.c-none, .c-none a, a.c-none{color: none;}
.cf-none {color: none!important;}

/*text style*/
.text-ellipsis{overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;width:100%;max-width: 100%;}

/*text decoration*/
.text-no-deco{text-decoration: none;}
.text-underline{text-decoration: underline;}
.text-crossed{text-decoration: line-through;}
.text-wavy{text-decoration: underline;-webkit-text-decoration-style: wavy;-moz-text-decoration-style: wavy;text-decoration-style: wavy;}

/*line height*/
.lh50{line-height: 50%;}
.lh60{line-height: 60%;}
.lh70{line-height: 70%;}
.lh80{line-height: 80%;}
.lh90{line-height: 90%;}
.lh100{line-height: 100%;}
.lh110{line-height: 110%;}
.lh120{line-height: 120%;}
.lh130{line-height: 130%;}
.lh140{line-height: 140%;}
.lh150{line-height: 150%;}
.lh160{line-height: 160%;}
.lh170{line-height: 170%;}
.lh180{line-height: 180%;}
.lh190{line-height: 190%;}
.lh200{line-height: 200%;}
.lh210{line-height: 210%;}
.lh220{line-height: 220%;}
.lh230{line-height: 230%;}
.lh240{line-height: 240%;}
.lh250{line-height: 250%;}
.lh260{line-height: 260%;}
.lh270{line-height: 270%;}
.lh280{line-height: 280%;}
.lh290{line-height: 290%;}
.lh300{line-height: 300%;}

/*ts*/
.ts1{word-spacing: 1px;letter-spacing: 1px;}
.ts2{word-spacing: 2px;letter-spacing: 2px;}
.ts3{word-spacing: 3px;letter-spacing: 3px;}
.ts4{word-spacing: 4px;letter-spacing: 4px;}
.ts5{word-spacing: 5px;letter-spacing: 5px;}
.ts6{word-spacing: 6px;letter-spacing: 6px;}
.ts7{word-spacing: 7px;letter-spacing: 7px;}
.ts8{word-spacing: 8px;letter-spacing: 8px;}
.ts9{word-spacing: 9px;letter-spacing: 9px;}
.ts10{word-spacing: 10px;letter-spacing: 10px;}

/*text-indent*/
.text-indent1em{text-indent:1em;}
.text-indent2em{text-indent:2em;}
.text-indent2em-box h1, .text-indent2em-box h2, .text-indent2em-box h3, .text-indent2em-box h4, .text-indent2em-box p{text-indent:2em;}
.text-indent3em{text-indent:3em;}
.text-indent4em{text-indent:4em;}
.text-indent5em{text-indent:5em;}
.text-indent6em{text-indent:6em;}
.text-indent7em{text-indent:7em;}
.text-indent8em{text-indent:8em;}
.text-indent9em{text-indent:9em;}
.text-indent10em{text-indent:10em;}