/*background*/
.bg-no, .bg-none {background: none;}

/*background color*/
.bg-white {background-color: #fff;}
.bg-primary {background-color: #545CA6;}
.bgh-primary:hover {background-color: #545CA6;}
.bg-success {background-color: #8ec165;}
.bgh-success:hover {background-color: #8ec165;}
.bg-info {background-color: #4cc0c1;}
.bgh-info:hover {background-color: #4cc0c1;}
.bg-warning {background-color: #ffc333;}
.bgh-warning:hover {background-color: #ffc333;}
.bg-danger {background-color: #fb6b5b;}
.bgh-danger:hover {background-color: #fb6b5b;}
.bg-scarlet {background-color: #CC3333;}
.bgh-scarlet:hover {background-color: #CC3333;}
.bg-red {background-color: #f16653;}
.bgh-red:hover {background-color: #f16653;}
.bg-rose {background-color: #FF0066;}
.bgh-rose:hover {background-color: #FF0066;}
.bg-jacinth {background-color: #EE513E;}
.bgh-jacinth:hover {background-color: #EE513E;}
.bg-pink {background-color: #FF6699;}
.bgh-pink:hover {background-color: #FF6699;}
.bg-orange {background-color: #FF8B24;}
.bgh-orange:hover {background-color: #FF8B24;}
.bg-yellow {background-color: #EEEE00;}
.bgh-yellow:hover {background-color: #EEEE00;}
.bg-almond {background-color: #f5bd34;}
.bgh-almond:hover {background-color: #f5bd34;}
.bg-brown {background-color: #8C471E;}
.bgh-brown:hover {background-color: #8C471E;}
.bg-olive {background-color: #3d9970;}
.bgh-olive:hover {background-color: #3d9970;}
.bg-viridity {background-color: #34D574;}
.bgh-viridity:hover {background-color: #34D574;}
.bg-green {background-color: #4bc57d;}
.bgh-green:hover {background-color: #4bc57d;}
.bg-aqua {background-color: #99FF99;}
.bgh-aqua:hover {background-color: #99FF99;}
.bg-cyan {background-color: #99FFCC;}
.bgh-cyan:hover {background-color: #99FFCC;}
.bg-navy {background-color: #3A4D5C;}
.bgh-navy:hover {background-color: #3A4D5C;}
.bg-blue {background-color: #4B96E0;}
.bgh-blue:hover {background-color: #4B96E0;}
.bg-indigo {background-color: #418D8C;}
.bgh-indigo:hover {background-color: #418D8C;}
.bg-deongaree {background-color: #336699;}
.bgh-deongaree:hover {background-color: #336699;}
.bg-ocean {background-color: #66CCCC;}
.bgh-ocean:hover {background-color: #66CCCC;}
.bg-azure {background-color: #6ACBEC;}
.bgh-azure:hover {background-color: #6ACBEC;}
.bg-salmon {background-color: #F08080;}
.bgh-salmon:hover {background-color: #F08080;}
.bg-neon {background-color: #EA5AB2;}
.bgh-neon:hover {background-color: #EA5AB2;}
.bg-purple {background-color: #B94EB3;}
.bgh-purple:hover {background-color: #B94EB3;}
.bg-lavender {background-color: #9582C6;}
.bgh-lavender:hover {background-color: #9582C6;}
.bg-lgray {background-color: #CCCCCC;}
.bgh-lgray:hover {background-color: #CCCCCC;}
.bg-gray {background-color: #B3B3B3;}
.bgh-gray:hover {background-color: #B3B3B3;}
.bg-dgray {background-color: #666666;}
.bgh-dgray:hover {background-color: #666666;}
.bg-dark {background-color: #5a6a7a;}
.bgh-dark:hover {background-color: #5a6a7a;}
.bg-iron {background-color: #404040;}
.bgh-iron:hover {background-color: #404040;}
.bg-black {background-color: #222222;}
.bgh-black:hover {background-color: #222222;}

.bg-gray2 {background-color: #c9c9c9;}
.bg-cus-gray {background-color: #f2f4f8;}
.bgh-cus-gray:hover {background-color: #f2f4f8;}
.bg-cus-blue {background-color: #61D0FF;}
.bgh-cus-blue:hover {background-color: #61D0FF;}
.bg-cus-dgray {background-color: #c9c9c9;}
.bgh-cus-dgray:hover {background-color: #c9c9c9;}

.bgh-transition{
    transition:background-color 0.5s;
    -moz-transition:background-color 0.5s;
    -webkit-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
}

/*transparent white & dark bg*/
.bg-black10 {
    background: rgba(0, 0, 0, 0.1);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white10 {
    background: rgba(255, 255, 255, 0.1);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black20 {
    background: rgba(0, 0, 0, 0.2);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white20 {
    background: rgba(255, 255, 255, 0.2);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black30 {
    background: rgba(0, 0, 0, 0.3);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white30 {
    background: rgba(255, 255, 255, 0.3);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black40 {
    background: rgba(0, 0, 0, 0.4);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white40 {
    background: rgba(255, 255, 255, 0.4);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black50 {
    background: rgba(0, 0, 0, 0.5);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white50 {
    background: rgba(255, 255, 255, 0.5);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black60 {
    background: rgba(0, 0, 0, 0.6);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white60 {
    background: rgba(255, 255, 255, 0.6);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black70 {
    background: rgba(0, 0, 0, 0.7);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white70 {
    background: rgba(255, 255, 255, 0.7);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black80 {
    background: rgba(0, 0, 0, 0.8);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white80 {
    background: rgba(255, 255, 255, 0.8);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}
.bg-black90 {
    background: rgba(0, 0, 0, 0.9);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.bg-white90 {
    background: rgba(255, 255, 255, 0.9);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}

/*opacity*/
.opa-0 {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
}
.opa-5 {
    filter: alpha(opacity=5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    -moz-opacity: 0.05;
    -webkit-opacity: 0.05;
    opacity: 0.05;
}
.opa-10 {
    filter: alpha(opacity=10);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    -moz-opacity: 0.1;
    -webkit-opacity: 0.1;
    opacity: 0.1;
}
.opa-15 {
    filter: alpha(opacity=15);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    -moz-opacity: 0.15;
    -webkit-opacity: 0.15;
    opacity: 0.15;
}
.opa-20 {
    filter: alpha(opacity=20);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    -moz-opacity: 0.2;
    -webkit-opacity: 0.2;
    opacity: 0.2;
}
.opa-25 {
    filter: alpha(opacity=25);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    -moz-opacity: 0.25;
    -webkit-opacity: 0.25;
    opacity: 0.25;
}
.opa-30 {
    filter: alpha(opacity=30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -moz-opacity: 0.3;
    -webkit-opacity: 0.3;
    opacity: 0.3;
}
.opa-35 {
    filter: alpha(opacity=35);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    -moz-opacity: 0.35;
    -webkit-opacity: 0.35;
    opacity: 0.35;
}
.opa-40 {
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -moz-opacity: 0.4;
    -webkit-opacity: 0.4;
    opacity: 0.4;
}
.opa-45 {
    filter: alpha(opacity=45);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    -moz-opacity: 0.45;
    -webkit-opacity: 0.45;
    opacity: 0.45;
}
.opa-50 {
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
}
.opa-55 {
    filter: alpha(opacity=55);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
    -moz-opacity: 0.55;
    -webkit-opacity: 0.55;
    opacity: 0.55;
}
.opa-60 {
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    opacity: 0.6;
}
.opa-65 {
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    -moz-opacity: 0.65;
    -webkit-opacity: 0.65;
    opacity: 0.65;
}
.opa-70 {
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -moz-opacity: 0.7;
    -webkit-opacity: 0.7;
    opacity: 0.7;
}
.opa-75 {
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    -moz-opacity: 0.75;
    -webkit-opacity: 0.75;
    opacity: 0.75;
}
.opa-80 {
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    opacity: 0.8;
}
.opa-85 {
    filter: alpha(opacity=85);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    -moz-opacity: 0.85;
    -webkit-opacity: 0.85;
    opacity: 0.85;
}
.opa-90 {
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
    opacity: 0.9;
}
.opa-95 {
    filter: alpha(opacity=95);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    -moz-opacity: 0.95;
    -webkit-opacity: 0.95;
    opacity: 0.95;
}