.bd-no , .bd-none , .bd-0 {border: none!important;}
.bd-top-no , .bd-top-none , .bd-top-0 {border-top: none!important;}
.bd-right-no , .bd-right-none , .bd-right-0 {border-right: none!important;}
.bd-bottom-no , .bd-bottom-none , .bd-bottom-0 {border-bottom: none!important;}
.bd-left-no , .bd-left-none , .bd-left-0 {border-left: none!important;}
/*border*/
.bd-solid {border-style: solid;}
.bd-dotted {border-style: dotted;}
.bd-top {border-top-style: solid;}
.bd-bottom {border-bottom-style: solid;}
.bd-left {border-left-style: solid;}
.bd-right {border-right-style: solid;}
.bd-top-dotted {border-top-style: dotted;}
.bd-bottom-dotted {border-bottom-style: dotted;}
.bd-left-dotted {border-left-style: dotted;}
.bd-right-dotted {border-right-style: dotted;}
.bd {border:solid 1px #eeeeee;}

.bd1px {border-width: 1px;}
.bd2px {border-width: 2px;}
.bd3px {border-width: 3px;}
.bd4px {border-width: 4px;}
.bd5px {border-width: 5px;}
.bd6px {border-width: 6px;}
.bd7px {border-width: 7px;}
.bd8px {border-width: 8px;}
.bd9px {border-width: 9px;}
.bd10px {border-width: 10px;}
.bd11px {border-width: 11px;}
.bd12px {border-width: 12px;}
.bd13px {border-width: 13px;}
.bd14px {border-width: 14px;}
.bd15px {border-width: 15px;}
.bd16px {border-width: 16px;}
.bd17px {border-width: 17px;}
.bd18px {border-width: 18px;}
.bd19px {border-width: 19px;}
.bd20px {border-width: 20px;}

.bd-white {border-color: #ffffff;}
.bdh-white {border:solid 1px #ffffff;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-primary {border-color: #545CA6;}
.bdh-primary {border:solid 1px #545CA6;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-success {border-color: #8ec165;}
.bdh-success {border:solid 1px #8ec165;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-info {border-color: #4cc0c1;}
.bdh-info {border:solid 1px #4cc0c1;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-warning {border-color: #ffc333;}
.bdh-warning {border:solid 1px #ffc333;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-danger {border-color: #fb6b5b;}
.bdh-danger {border:solid 1px #fb6b5b;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-scarlet {border-color: #CC3333;}
.bdh-scarlet {border:solid 1px #CC3333;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-red {border-color: #f16653;}
.bdh-red {border:solid 1px #f16653;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-rose {border-color: #FF0066;}
.bdh-rose {border:solid 1px #FF0066;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-jacinth {border-color: #EE513E;}
.bdh-jacinth {border:solid 1px #EE513E;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-pink {border-color: #FF6699;}
.bdh-pink {border:solid 1px #FF6699;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-orange {border-color: #FF8B24;}
.bdh-orange {border:solid 1px #FF8B24;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-yellow {border-color: #EEEE00;}
.bdh-yellow {border:solid 1px #EEEE00;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-almond {border-color: #f5bd34;}
.bdh-almond {border:solid 1px #f5bd34;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-brown {border-color: #8C471E;}
.bdh-brown {border:solid 1px #8C471E;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-olive {border-color: #3d9970;}
.bdh-olive {border:solid 1px #3d9970;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-viridity {border-color: #34D574;}
.bdh-viridity {border:solid 1px #34D574;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-green {border-color: #4bc57d;}
.bdh-green {border:solid 1px #4bc57d;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-aqua {border-color: #99FF99;}
.bdh-aqua {border:solid 1px #99FF99;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-cyan {border-color: #99FFCC;}
.bdh-cyan {border:solid 1px #99FFCC;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-navy {border-color: #3A4D5C;}
.bdh-navy {border:solid 1px #3A4D5C;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-blue {border-color: #4B96E0;}
.bdh-blue {border:solid 1px #4B96E0;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-indigo {border-color: #418D8C;}
.bdh-indigo {border:solid 1px #418D8C;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-deongaree {border-color: #336699;}
.bdh-deongaree {border:solid 1px #336699;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-ocean {border-color: #66CCCC;}
.bdh-ocean {border:solid 1px #66CCCC;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-azure {border-color: #6ACBEC;}
.bdh-azure {border:solid 1px #6ACBEC;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-salmon {border-color: #F08080;}
.bdh-salmon {border:solid 1px #F08080;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-neon {border-color: #EA5AB2;}
.bdh-neon {border:solid 1px #EA5AB2;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-purple {border-color: #B94EB3;}
.bdh-purple {border:solid 1px #B94EB3;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-lavender {border-color: #9582C6;}
.bdh-lavender {border:solid 1px #9582C6;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-lgray {border-color: #CCCCCC;}
.bdh-lgray {border:solid 1px #CCCCCC;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-gray {border-color: #B3B3B3;}
.bdh-gray {border:solid 1px #B3B3B3;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-dgray {border-color: #666666;}
.bdh-dgray {border:solid 1px #666666;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-dark {border-color: #5a6a7a;}
.bdh-dark {border:solid 1px #5a6a7a;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-iron {border-color: #404040;}
.bdh-iron {border:solid 1px #404040;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}
.bd-black {border-color: #222222;}
.bdh-black {border:solid 1px #222222;transition:border 1s;-moz-transition:border 1s;-webkit-transition:border 1s;-o-transition: border 1s;}

/*radius*/
.radius0{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
.radius0f , .radius0f > *{-moz-border-radius:0!important;-webkit-border-radius:0!important;border-radius:0!important;}
.radius50{ -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%; }
.radiusl0 {
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.radiusr0 {
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.radiust0 {
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.radiusb0 {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.radius1px{ -moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px;}
.radius2px{ -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.radius3px{ -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.radius4px{ -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.radius5px{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.radius6px{ -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
.radius7px{ -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;}
.radius8px{ -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
.radius9px{ -moz-border-radius:9px; -webkit-border-radius:9px; border-radius:9px;}
.radius10px{ -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
.radius11px{ -moz-border-radius:11px; -webkit-border-radius:11px; border-radius:11px;}
.radius12px{ -moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px;}
.radius13px{ -moz-border-radius:13px; -webkit-border-radius:13px; border-radius:13px;}
.radius14px{ -moz-border-radius:14px; -webkit-border-radius:14px; border-radius:14px;}
.radius15px{ -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px;}
.radius16px{ -moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px;}
.radius17px{ -moz-border-radius:17px; -webkit-border-radius:17px; border-radius:17px;}
.radius18px{ -moz-border-radius:18px; -webkit-border-radius:18px; border-radius:18px;}
.radius19px{ -moz-border-radius:19px; -webkit-border-radius:19px; border-radius:19px;}
.radius20px{ -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px;}