/*font style*/
.font-normal{font-weight: normal;}
.font-bold{font-weight: bold;}
.font-italic{font-style: italic}

.font0, .font0px{font-size: 0;}
.font1px{font-size: 1px;}
.font2px{font-size: 2px;}
.font3px{font-size: 3px;}
.font4px{font-size: 4px;}
.font5px{font-size: 5px;}
.font6px{font-size: 6px;}
.font7px{font-size: 7px;}
.font8px{font-size: 8px;}
.font9px{font-size: 9px;}
.font10px{font-size: 10px;}
.font11px{font-size: 11px;}
.font12px{font-size: 12px;}
.font13px{font-size: 13px;}
.font14px{font-size: 14px;}
.font15px{font-size: 15px;}
.font16px{font-size: 16px;}
.font17px{font-size: 17px;}
.font18px{font-size: 18px;}
.font19px{font-size: 19px;}
.font20px{font-size: 20px;}

.font1em{font-size: 1em;}
.font2em{font-size: 2em;}
.font3em{font-size: 3em;}
.font4em{font-size: 4em;}
.font5em{font-size: 5em;}
.font6em{font-size: 6em;}
.font7em{font-size: 7em;}
.font8em{font-size: 8em;}
.font9em{font-size: 9em;}
.font10em{font-size: 10em;}
.font11em{font-size: 11em;}
.font12em{font-size: 12em;}
.font13em{font-size: 13em;}
.font14em{font-size: 14em;}
.font15em{font-size: 15em;}
.font16em{font-size: 16em;}
.font17em{font-size: 17em;}
.font18em{font-size: 18em;}
.font19em{font-size: 19em;}
.font20em{font-size: 20em;}

/*color*/
.c-no, c-none {color: none;}
.cf-no, .cf-none {color: none;color: none!important;}

.c-white {color: #ffffff;}
.cf-white {color: #ffffff!important;}
.ch-white:hover {color: #ffffff!important;}
a.c-white:hover {color: #ffffff;}
.c-primary {color: #545CA6;}
.cf-primary {color: #545CA6!important;}
.ch-primary:hover {color: #545CA6!important;}
a.c-primary:hover {color: #545CA6;}
.c-success {color: #8ec165;}
.cf-success {color: #8ec165!important;}
.ch-success:hover {color: #8ec165!important;}
a.c-success:hover {color: #8ec165;}
.c-info {color: #4cc0c1;}
.cf-info {color: #4cc0c1!important;}
.ch-info:hover {color: #4cc0c1!important;}
a.c-info:hover {color: #4cc0c1;}
.c-warning {color: #ffc333;}
.cf-warning {color: #ffc333!important;}
.ch-warning:hover {color: #ffc333!important;}
a.c-warning:hover {color: #ffc333;}
.c-danger {color: #fb6b5b;}
.cf-danger {color: #fb6b5b!important;}
.ch-danger:hover {color: #fb6b5b!important;}
a.c-danger:hover {color: #fb6b5b;}
.c-scarlet {color: #CC3333;}
.cf-scarlet {color: #CC3333!important;}
.ch-scarlet:hover {color: #CC3333!important;}
a.c-scarlet:hover {color: #CC3333;}
.c-red {color: #f16653;}
.cf-red {color: #f16653!important;}
.ch-red:hover {color: #f16653!important;}
a.c-red:hover {color: #f16653;}
.c-rose {color: #FF0066;}
.cf-rose {color: #FF0066!important;}
.ch-rose:hover {color: #FF0066!important;}
a.c-rose:hover {color: #FF0066;}
.c-jacinth {color: #EE513E;}
.cf-jacinth {color: #EE513E!important;}
.ch-jacinth:hover {color: #EE513E!important;}
a.c-jacinth:hover {color: #EE513E;}
.c-pink {color: #FF6699;}
.cf-pink {color: #FF6699!important;}
.ch-pink:hover {color: #FF6699!important;}
a.c-pink:hover {color: #FF6699;}
.c-orange {color: #FF8B24;}
.cf-orange {color: #FF8B24!important;}
.ch-orange:hover {color: #FF8B24!important;}
a.c-orange:hover {color: #FF8B24;}
.c-yellow {color: #EEEE00;}
.cf-yellow {color: #EEEE00!important;}
.ch-yellow:hover {color: #EEEE00!important;}
a.c-yellow:hover {color: #EEEE00;}
.c-almond {color: #f5bd34;}
.cf-almond {color: #f5bd34!important;}
.ch-almond:hover {color: #f5bd34!important;}
a.c-almond:hover {color: #f5bd34;}
.c-brown {color: #8C471E;}
.cf-brown {color: #8C471E!important;}
.ch-brown:hover {color: #8C471E!important;}
a.c-brown:hover {color: #8C471E;}
.c-olive {color: #3d9970;}
.cf-olive {color: #3d9970!important;}
.ch-olive:hover {color: #3d9970!important;}
a.c-olive:hover {color: #3d9970;}
.c-viridity {color: #34D574;}
.cf-viridity {color: #34D574!important;}
.ch-viridity:hover {color: #34D574!important;}
a.c-viridity:hover {color: #34D574;}
.c-green {color: #4bc57d;}
.cf-green {color: #4bc57d!important;}
.ch-green:hover {color: #4bc57d!important;}
a.c-green:hover {color: #4bc57d;}
.c-aqua {color: #99FF99;}
.cf-aqua {color: #99FF99!important;}
.ch-aqua:hover {color: #99FF99!important;}
a.c-aqua:hover {color: #99FF99;}
.c-cyan {color: #99FFCC;}
.cf-cyan {color: #99FFCC!important;}
.ch-cyan:hover {color: #99FFCC!important;}
a.c-cyan:hover {color: #99FFCC;}
.c-navy {color: #3A4D5C;}
.cf-navy {color: #3A4D5C!important;}
.ch-navy:hover {color: #3A4D5C!important;}
a.c-navy:hover {color: #3A4D5C;}
.c-blue {color: #4B96E0;}
.cf-blue {color: #4B96E0!important;}
.ch-blue:hover {color: #4B96E0!important;}
a.c-blue:hover {color: #4B96E0;}
.c-indigo {color: #418D8C;}
.cf-indigo {color: #418D8C!important;}
.ch-indigo:hover {color: #418D8C!important;}
a.c-indigo:hover {color: #418D8C;}
.c-deongaree {color: #336699;}
.cf-deongaree {color: #336699!important;}
.ch-deongaree:hover {color: #336699!important;}
a.c-deongaree:hover {color: #336699;}
.c-ocean {color: #66CCCC;}
.cf-ocean {color: #66CCCC!important;}
.ch-ocean:hover {color: #66CCCC!important;}
a.c-ocean:hover {color: #66CCCC;}
.c-azure {color: #6ACBEC;}
.cf-azure {color: #6ACBEC!important;}
.ch-azure:hover {color: #6ACBEC!important;}
a.c-azure:hover {color: #6ACBEC;}
.c-salmon {color: #F08080;}
.cf-salmon {color: #F08080!important;}
.ch-salmon:hover {color: #F08080!important;}
a.c-salmon:hover {color: #F08080;}
.c-neon {color: #EA5AB2;}
.cf-neon {color: #EA5AB2!important;}
.ch-neon:hover {color: #EA5AB2!important;}
a.c-neon:hover {color: #EA5AB2;}
.c-purple {color: #B94EB3;}
.cf-purple {color: #B94EB3!important;}
.ch-purple:hover {color: #B94EB3!important;}
a.c-purple:hover {color: #B94EB3;}
.c-lavender {color: #9582C6;}
.cf-lavender {color: #9582C6!important;}
.ch-lavender:hover {color: #9582C6!important;}
a.c-lavender:hover {color: #9582C6;}
.c-lgray {color: #CCCCCC;}
.cf-lgray {color: #CCCCCC!important;}
.ch-lgray:hover {color: #CCCCCC!important;}
a.c-lgray:hover {color: #CCCCCC;}
.c-gray {color: #B3B3B3;}
.cf-gray {color: #B3B3B3!important;}
.ch-gray:hover {color: #B3B3B3!important;}
a.c-gray:hover {color: #B3B3B3;}
.c-dgray {color: #666666;}
.cf-dgray {color: #666666!important;}
.ch-dgray:hover {color: #666666!important;}
a.c-dgray:hover {color: #666666;}
.c-dark {color: #5a6a7a;}
.cf-dark {color: #5a6a7a!important;}
.ch-dark:hover {color: #5a6a7a!important;}
a.c-dark:hover {color: #5a6a7a;}
.c-iron {color: #404040;}
.cf-iron {color: #404040!important;}
.ch-iron:hover {color: #404040!important;}
a.c-iron:hover {color: #404040;}
.c-black {color: #222222;}
.cf-black {color: #222222!important;}
.ch-black:hover {color: #222222!important;}
a.c-black:hover {color: #222222;}

.c-cus-iron{color: #788188;}

/*text style*/
.text-ellipsis{overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;width:100%;max-width: 100%;}

/*text decoration*/
.text-no-deco{text-decoration: none;}
.text-underline{text-decoration: underline;}
.text-crossed{text-decoration: line-through;}
.text-wavy{text-decoration: underline;-webkit-text-decoration-style: wavy;-moz-text-decoration-style: wavy;text-decoration-style: wavy;}

/*line height*/
.lh50{line-height: 50%;}
.lh60{line-height: 60%;}
.lh70{line-height: 70%;}
.lh80{line-height: 80%;}
.lh90{line-height: 90%;}
.lh100{line-height: 100%;}
.lh110{line-height: 110%;}
.lh120{line-height: 120%;}
.lh130{line-height: 130%;}
.lh140{line-height: 140%;}
.lh150{line-height: 150%;}
.lh160{line-height: 160%;}
.lh170{line-height: 170%;}
.lh180{line-height: 180%;}
.lh190{line-height: 190%;}
.lh200{line-height: 200%;}

/*ts*/
.ts1{word-spacing: 1px;letter-spacing: 1px;}
.ts2{word-spacing: 2px;letter-spacing: 2px;}
.ts3{word-spacing: 3px;letter-spacing: 3px;}
.ts4{word-spacing: 4px;letter-spacing: 4px;}
.ts5{word-spacing: 5px;letter-spacing: 5px;}
.ts6{word-spacing: 6px;letter-spacing: 6px;}
.ts7{word-spacing: 7px;letter-spacing: 7px;}
.ts8{word-spacing: 8px;letter-spacing: 8px;}
.ts9{word-spacing: 9px;letter-spacing: 9px;}
.ts10{word-spacing: 10px;letter-spacing: 10px;}

/*text-indent*/
.text-indent1em{text-indent:1em;}
.text-indent2em{text-indent:2em;}
.text-indent2em-box h1, .text-indent2em-box h2, .text-indent2em-box h3, .text-indent2em-box h4, .text-indent2em-box p{text-indent:2em;}
.text-indent3em{text-indent:3em;}
.text-indent4em{text-indent:4em;}
.text-indent5em{text-indent:5em;}
.text-indent6em{text-indent:6em;}
.text-indent7em{text-indent:7em;}
.text-indent8em{text-indent:8em;}
.text-indent9em{text-indent:9em;}
.text-indent10em{text-indent:10em;}