/*position*/
.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.t0{top:0;} .l0{left:0;} .r0{right:0;} .b0{bottom:0;}
.t1px{top:1px;} .l1px{left:1px;} .r1px{right:1px;} .b1px{bottom:1px;}
.t2px{top:2px;} .l2px{left:2px;} .r2px{right:2px;} .b2px{bottom:2px;}
.t3px{top:3px;} .l3px{left:3px;} .r3px{right:3px;} .b3px{bottom:3px;}
.t4px{top:4px;} .l4px{left:4px;} .r4px{right:4px;} .b4px{bottom:4px;}
.t5px{top:5px;} .l5px{left:5px;} .r5px{right:5px;} .b5px{bottom:5px;}
.t6px{top:6px;} .l6px{left:6px;} .r6px{right:6px;} .b6px{bottom:6px;}
.t7px{top:7px;} .l7px{left:7px;} .r7px{right:7px;} .b7px{bottom:7px;}
.t8px{top:8px;} .l8px{left:8px;} .r8px{right:8px;} .b8px{bottom:8px;}
.t9px{top:9px;} .l9px{left:9px;} .r9px{right:9px;} .b9px{bottom:9px;}
.t10px{top:10px;} .l10px{left:10px;} .r10px{right:10px;} .b10px{bottom:10px;}
.t11px{top:11px;} .l11px{left:11px;} .r11px{right:11px;} .b11px{bottom:11px;}
.t12px{top:12px;} .l12px{left:12px;} .r12px{right:12px;} .b12px{bottom:12px;}
.t13px{top:13px;} .l13px{left:13px;} .r13px{right:13px;} .b13px{bottom:13px;}
.t14px{top:14px;} .l14px{left:14px;} .r14px{right:14px;} .b14px{bottom:14px;}
.t15px{top:15px;} .l15px{left:15px;} .r15px{right:15px;} .b15px{bottom:15px;}
.t16px{top:16px;} .l16px{left:16px;} .r16px{right:16px;} .b16px{bottom:16px;}
.t17px{top:17px;} .l17px{left:17px;} .r17px{right:17px;} .b17px{bottom:17px;}
.t18px{top:18px;} .l18px{left:18px;} .r18px{right:18px;} .b18px{bottom:18px;}
.t19px{top:19px;} .l19px{left:19px;} .r19px{right:19px;} .b19px{bottom:19px;}
.t20px{top:20px;} .l20px{left:20px;} .r20px{right:20px;} .b20px{bottom:20px;}

/*display*/
.display-inline, .di{display: inline;}
.display-block, .db{display: block;}
.display-inlineblock, .dib{display: inline-block; *display: inline; *zoom: 1;}
.display-table, .dt{display: table;}
.display-tablerow, .dtw{display: table-row;}
.display-tablecell, .dtc{display: table-cell; vertical-align: middle; *display: inline-block; *width: auto; *zoom: 1;}
.display-flex, .df{display:flex;}

/*show or hidden*/
.visible{visibility:visible;}
.hidden{visibility:hidden;}
.softhide{display: none;}

/*opacity*/
.opacity0{opacity: 0;}
.opacity01{opacity: 0.1;}
.opacity02{opacity: 0.2;}
.opacity03{opacity: 0.3;}
.opacity04{opacity: 0.4;}
.opacity05{opacity: 0.5;}
.opacity06{opacity: 0.6;}
.opacity07{opacity: 0.7;}
.opacity08{opacity: 0.8;}
.opacity09{opacity: 0.9;}
.opacity1{opacity: 1;}
.opacity-ani{transition: opacity 0.8s;}

/*overflow*/
.overflow-hidden{overflow: hidden;}
.overflow-scroll{overflow: scroll;}
.overflow-auto{overflow: auto;}

/*hover*/
.myhover .myoverlay{display:none;}
.myhover:hover .myoverlay{display:block;}

/*cursor*/
.cursor-pointer{cursor:pointer;}

/*width and height*/
.full-width{width:100%;}
.full-height{height:100%;}

/*shadow*/
.shadow-none{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.shadowf-none{
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.shadow-light, .shadowh-light:hover {
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.shadow-gray, .shadowh-gray:hover {
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.shadow-dark, .shadowh-dark:hover{
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
.shadow-shallow, .shadowh-shallow:hover{
    -moz-box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
    -webkit-box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}
.shadow-more, .shadowh-more:hover{
    -webkit-box-shadow: 0 3px 2px #777;
    -moz-box-shadow: 0 3px 2px #777;
    box-shadow: 0 3px 2px #777;
}
.shadow-deep, .shadowh-deep:hover{
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.shadow-bulge, .shadowh-bulge:hover{
    -webkit-box-shadow: 0 3px 2px #777;
    -moz-box-shadow: 0 3px 2px #777;
    box-shadow: 0 3px 2px #777;
}
.shadow-inset, .shadowh-inset:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32) inset;
}
.shadow-text{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.shadow-text-double{
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}
.shadow-text-distant{
    text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0,0,0,0.15), 0px 24px 2px rgba(0,0,0,0.1), 0px 34px 30px rgba(0,0,0,0.1);
}
.shadow-text-close{
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

/*other elements class*/
img.img-res {display: block; max-width: 100%;width: 100%;height: auto;}
.img-res-box img{max-width: 100%!important;width: 100%!important;height: auto!important;}
.img-max-box img{max-width: 100%!important;height: auto!important;}

/*ul style*/
ul.float-ul {list-style:none;margin:0;padding:0;}
ul.float-ul > li {float:left;}
ul.float-ul-1 > li {width: 100%;}
ul.float-ul-2 > li {width: 50%;}
ul.float-ul-3 > li {width: 33.3333333%;}
ul.float-ul-4 > li {width: 25%;}
ul.float-ul-5 > li {width: 20%;}
ul.float-ul-6 > li {width: 16.6666666%;}
ul.float-ul-7 > li {width: 14.2857142%;}
ul.float-ul-8 > li {width: 12.5%;}
ul.float-ul-9 > li {width: 11.1111111%;}
ul.float-ul-10 > li {width: 10%;}
@media (min-width: 768px) {
    ul.float-ul-sm {list-style:none;margin:0;padding:0;}
    ul.float-ul-sm > li {float:left;}
    ul.float-ul-sm-1 > li {width: 100%;}
    ul.float-ul-sm-2 > li {width: 50%;}
    ul.float-ul-sm-3 > li {width: 33.3333333%;}
    ul.float-ul-sm-4 > li {width: 25%;}
    ul.float-ul-sm-5 > li {width: 20%;}
    ul.float-ul-sm-6 > li {width: 16.6666666%;}
    ul.float-ul-sm-7 > li {width: 14.2857142%;}
    ul.float-ul-sm-8 > li {width: 12.5%;}
    ul.float-ul-sm-9 > li {width: 11.1111111%;}
    ul.float-ul-sm-10 > li {width: 10%;}
}
@media (min-width: 992px) {
    ul.float-ul-md {list-style:none;margin:0;padding:0;}
    ul.float-ul-md > li {float:left;}
    ul.float-ul-md-1 > li {width: 100%;}
    ul.float-ul-md-2 > li {width: 50%;}
    ul.float-ul-md-3 > li {width: 33.3333333%;}
    ul.float-ul-md-4 > li {width: 25%;}
    ul.float-ul-md-5 > li {width: 20%;}
    ul.float-ul-md-6 > li {width: 16.6666666%;}
    ul.float-ul-md-7 > li {width: 14.2857142%;}
    ul.float-ul-md-8 > li {width: 12.5%;}
    ul.float-ul-md-9 > li {width: 11.1111111%;}
    ul.float-ul-md-10 > li {width: 10%;}
}
@media (min-width: 1200px) {
    ul.float-ul-lg {list-style:none;margin:0;padding:0;}
    ul.float-ul-lg > li {float:left;}
    ul.float-ul-lg-1 > li {width: 100%;}
    ul.float-ul-lg-2 > li {width: 50%;}
    ul.float-ul-lg-3 > li {width: 33.3333333%;}
    ul.float-ul-lg-4 > li {width: 25%;}
    ul.float-ul-lg-5 > li {width: 20%;}
    ul.float-ul-lg-6 > li {width: 16.6666666%;}
    ul.float-ul-lg-7 > li {width: 14.2857142%;}
    ul.float-ul-lg-8 > li {width: 12.5%;}
    ul.float-ul-lg-9 > li {width: 11.1111111%;}
    ul.float-ul-lg-10 > li {width: 10%;}
}

ul.vertical-ul {list-style:none;margin:0;padding:0;}

ul.inlineblock-ul{list-style:none;margin:0;padding:0;}
ul.inlineblock-ul li{display: inline-block;}

ul.fixspace-ul{font-size: 0;}
ul.fixspace-ul li{font-size: 14px;}

/*width*/
.width1{width: 100%;}
.width2{width: 50%;}
.width3{width: 33.33%;}
.width4{width: 25%;}
.width5{width: 20%;}
.width6{width: 16.66%;}
.width7{width: 14.28%;}
.width8{width: 12.5%;}
.width9{width: 11.11%;}
.width10{width: 10%;}
@media (min-width: 768px) {
    .width1-sm{width: 100%;}
    .width2-sm{width: 50%;}
    .width3-sm{width: 33.33%;}
    .width4-sm{width: 25%;}
    .width5-sm{width: 20%;}
    .width6-sm{width: 16.66%;}
    .width7-sm{width: 14.28%;}
    .width8-sm{width: 12.5%;}
    .width9-sm{width: 11.11%;}
    .width10-sm{width: 10%;}
}
@media (min-width: 992px) {
    .width1-md{width: 100%;}
    .width2-md{width: 50%;}
    .width3-md{width: 33.33%;}
    .width4-md{width: 25%;}
    .width5-md{width: 20%;}
    .width6-md{width: 16.66%;}
    .width7-md{width: 14.28%;}
    .width8-md{width: 12.5%;}
    .width9-md{width: 11.11%;}
    .width10-md{width: 10%;}
}
@media (min-width: 1200px) {
    .width1-lg{width: 100%;}
    .width2-lg{width: 50%;}
    .width3-lg{width: 33.33%;}
    .width4-lg{width: 25%;}
    .width5-lg{width: 20%;}
    .width6-lg{width: 16.66%;}
    .width7-lg{width: 14.28%;}
    .width8-lg{width: 12.5%;}
    .width9-lg{width: 11.11%;}
    .width10-lg{width: 10%;}
}

/*custom tags*/
codearea {
    display: block;
    padding: 10px 15px;
    font-size: 90%;
    color: #ffffff;
    background-color: #2F2F2F;
    border-radius: 2px;
    margin-bottom: 10px;
}
codearea line, codearea edit{
    display: block;
    margin-bottom: 5px;
    line-height: 150%;
    word-spacing:0.5em;
}
codearea line:last-child, codearea edit:last-child{
    margin-bottom: 0px;
}
codearea line{
    color:#ffffff;
}
codearea line::before{
    padding-right: 10px;
    content: '#';
}
codearea edit{
    color:#ffcc66;
}
codearea edit::before{
    padding-right: 10px;
    content: "\270f";
}
codearea cs{
    margin-left: 10px;
}
codearea linet{
    display: block;
    font-size: 13px;
    line-height: 150%;
    color: #6699FF;
    margin-bottom: 5px;
    margin-top: 20px;
}
codearea linet:first-child{
    margin-top: 0;
}
codearea pre{
    border: none;
    border-radius: 2px;
}

/*test css*/
.bdt{border: 2px solid red;}
.bgt{background: red;}